Repository sentry-demos/empower: changes, and which Codecov flags are due for each by the changed paths.
All: flask, react

Simplify Sentry setContext and setTag calls
  react/package-lock.json
  react/package.json
  react/run.sh
  react/src/components/About.jsx
  react/src/components/Products.jsx
  react/src/components/ProductsJoin.jsx
  react/src/index.js
Due: react

Update to @sentry/react 8.15.0
  react/config-overrides.js
  react/package-lock.json
  react/package.json
Due: react

add logic to fetch subscription plans
  .github/workflows/auto-deploy.yml
  codecov.yml
  flask/src/test_utils.py
  flask/src/utils.py
Due: flask

update codecov.yml to include components
  codecov.yml
Due: none

newline EOF
  codecov.yml
Due: none

update codecov.yml to include components (#533)
  codecov.yml
Due: none

add logic to fetch subscription plans
  flask/src/test_utils.py
  flask/src/utils.py
Due: flask

I think we can delete this variable, it's not needed
  react/src/components/Checkout.jsx
Due: none

I think we can delete this variable, it's not needed (#536)
  react/src/components/Checkout.jsx
Due: none

Pretttty sure we can delete this variable...
  react/src/components/Checkout.jsx
Due: none

Pretttty sure we can delete this variable... (#537)
  react/src/components/Checkout.jsx
Due: none

Upgrade react sdk to v8 (#532)
  react/package-lock.json
  react/package.json
  react/run.sh
  react/src/components/About.jsx
  react/src/components/Checkout.jsx
  react/src/components/Products.jsx
  react/src/components/ProductsJoin.jsx
  react/src/index.js
Due: react

Selectors reflect app v3.0.1
  .gitignore
  tda/conftest.py
  tda/mobile_native/android_react_native/test_captureexception_react_native_android.py
  tda/mobile_native/android_react_native/test_capturemessage_react_native_android.py
  tda/mobile_native/android_react_native/test_checkout_react_native_android.py
  tda/mobile_native/android_react_native/test_homescreen_react_native_android.py
  tda/mobile_native/android_react_native/test_nativecrash_react_native_android.py
  tda/mobile_native/android_react_native/test_uncaughtthrownerror_react_native_android.py
  tda/mobile_native/android_react_native/test_unhandledpromiserejection_react_native_android.py
  tda/mobile_native/ios_react_native/test_captureexception_react_native_ios.py
  tda/mobile_native/ios_react_native/test_capturemessage_react_native_ios.py
  tda/mobile_native/ios_react_native/test_checkout_react_native_ios.py
  tda/mobile_native/ios_react_native/test_nativecrash_react_native_ios.py
  tda/mobile_native/ios_react_native/test_uncaughtthrownerror_react_native_ios.py
  tda/mobile_native/ios_react_native/test_unhandledpromiserejection_react_native_ios.py
Due: none

chore(react): Bump to latest sentry react sdk
  react/package-lock.json
  react/package.json
Due: react

Update Checkout.jsx
  react/src/components/Checkout.jsx
Due: none

Selectors reflect app v3.0.1 (#539)
  .gitignore
  tda/conftest.py
  tda/mobile_native/android_react_native/test_captureexception_react_native_android.py
  tda/mobile_native/android_react_native/test_capturemessage_react_native_android.py
  tda/mobile_native/android_react_native/test_checkout_react_native_android.py
  tda/mobile_native/android_react_native/test_homescreen_react_native_android.py
  tda/mobile_native/android_react_native/test_nativecrash_react_native_android.py
  tda/mobile_native/android_react_native/test_uncaughtthrownerror_react_native_android.py
  tda/mobile_native/android_react_native/test_unhandledpromiserejection_react_native_android.py
  tda/mobile_native/ios_react_native/test_captureexception_react_native_ios.py
  tda/mobile_native/ios_react_native/test_capturemessage_react_native_ios.py
  tda/mobile_native/ios_react_native/test_checkout_react_native_ios.py
  tda/mobile_native/ios_react_native/test_nativecrash_react_native_ios.py
  tda/mobile_native/ios_react_native/test_uncaughtthrownerror_react_native_ios.py
  tda/mobile_native/ios_react_native/test_unhandledpromiserejection_react_native_ios.py
Due: none

chore(react): Bump to latest sentry react sdk (#540)
  react/package-lock.json
  react/package.json
Due: react

Update Checkout.jsx (#541)
  react/src/components/Checkout.jsx
Due: none

Fix metadata (se, email) sent in headers to backend request
  react/src/index.js
Due: none

Fix metadata (se, email) sent in headers to backend request (#542)
  react/src/index.js
Due: none

access current scope in more proper way
  react/src/index.js
Due: none

move to src/test
  react/src/tests/App.test.js
Due: none

Add tests for Actions + Reducer
  react/src/tests/Actions.test.js
  react/src/tests/Reducer.test.js
Due: none

Add test for utils/error.js
  react/src/tests/Errors.test.js
Due: none

Add notAFunctionError test
  react/src/tests/Errors.test.js
Due: none

Add tests for utils.time.js
  react/src/tests/Time.test.js
Due: none

Add test for backendrouter.js
  react/src/tests/backendrouter.test.js
Due: none

Add tests (without assertion(s) for measureRequestDuration
  react/src/tests/measureRequestDuration.test.js
Due: none

Add tests for slugify.js
  react/src/tests/Slugify.test.js
Due: none

Add tests for About.jsx
  react/src/tests/About.jsx.test.js
Due: none

rename About test
  react/src/tests/About.test.js
Due: none

Add Products test
  react/package-lock.json
  react/package.json
  react/src/tests/Products.test.js
Due: react

rename to product test
  react/src/tests/Product.test.js
Due: none

add some newlines w/ Chris
  react/src/tests/About.test.js
Due: none

remove newline
  react/src/tests/About.test.js
Due: none

add newline
  react/src/tests/About.test.js
Due: none

remove newilne
  react/src/tests/About.test.js
Due: none

add
  react/src/tests/About.test.js
Due: none

remove
  react/src/tests/About.test.js
Due: none

Add test for products.jsx
  react/src/tests/Products.test.js
Due: none

Path conditions:
  flask: any of: flask, but not: react/src
  react: any of: react, but not: react/src
