Repository sentry-demos/empower: changes, and which Codecov flags are due for each by the changed paths.
All: checkout_module, product_component

codecov.yml:

# cat codecov.yml | curl --data-binary @- https://codecov.io/validate
fixes:
  - "empower/::"

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        informational: true
        target: 35%
    patch:
      frontend:
        informational: true
        target: 80%
        flags:
          - frontend
      api:
        informational: true
        target: 50%
        flags:
          - api

github_checks:
  annotations: true

comment:
  layout: "newheader, diff, flags, components, files"
  require_changes: false # false :: posts comment regardless of whether coverage changes
  require_base: false # [false :: doesn't need a base report to post]
  require_head: true # [true :: must have a head report to post]
  show_carryforward_flags: true
  # show_critical_paths: true # affects labeled critical files -- leaving out for now
  hide_comment_details: true # collapse 'detailed info' for PR comment

flag_management:
  individual_flags:
    - name: api
      paths:
        - flask/
    - name: frontend
      paths:
        - react/
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: python_component
      name: checkout_module
      paths:
        - flask/src/**
    - component_id: js_component
      name: product_component
      paths:
        - react/src/components/**

# Vlad said--
# i just checked the file. the test_utils.py is purely a test file,
# just assertions and tests, so in theory it shouldn't be counted
# towards the overall coverage of the repo or "production code".
# i'm not sure why some tools include the tests as part of the coverage report,
# but it can be mitigated by excluding them via codecov.yaml or --source setting
# in the pytest, but the issue is that the test directory is also under the
# /src/  so it looks like it is instrumenting the code for all the python files
# in that location. this is not a big deal, but in case anyone asks this is why
# it is showing up.
ignore:
  - "flask/src/test/"

[dns] fix removal of backend NEG (#1268)
  _dns/deploy_project.sh
Due: none

Fix UnboundLocalError in checkout by defining quantities before use
  flask/src/main.py
Due: checkout_module

[dns] better error handling when missing permissions
  _dns/deploy_project.sh
Due: none

[laravel] fix build locally + attempt fix CI build
  .github/workflows/auto-deploy.yml
  laravel/build.sh
  laravel/composer.json
  laravel/composer.lock
Due: none

[laravel] fix build locally + attempt fix CI build (#1271)
  .github/workflows/auto-deploy.yml
  laravel/build.sh
  laravel/composer.json
  laravel/composer.lock
Due: none

Fix NameError in checkout function by defining quantities before use
  flask/src/main.py
Due: checkout_module

[dns] more error handling fixes
  _dns/deploy_project.sh
Due: none

Fix database connection leak causing BrokenPipeError
  flask/src/db.py
Due: checkout_module

Fix UnboundLocalError in checkout: define quantities before use
  flask/src/main.py
Due: checkout_module

Upgrade deprecated GCP SDK in cleanup_inactive_cloud_resources.yml
  .github/workflows/cleanup_inactive_cloud_resources.yml
Due: none

fix(next): resolve npm dependency conflicts and ESLint configuration
  next/.eslintrc.json
  next/eslint.config.mjs
  next/next.config.mjs
  next/package-lock.json
  next/package.json
Due: none

[next] fix build after dependabot merge
  next/eslint.config.mjs
  next/package-lock.json
  next/package.json
Due: none

[next] fix build after dependabot merge (#1278)
  next/eslint.config.mjs
  next/package-lock.json
  next/package.json
Due: none

Fix NameError in checkout: define quantities before using it
  flask/src/main.py
Due: checkout_module

Fix UnboundLocalError in checkout function
  flask/src/main.py
Due: checkout_module

[otlp-collector] v0
  _dns/config.yaml.template
  otlp-collector/Dockerfile
  otlp-collector/README.md
  otlp-collector/config.yaml
  otlp-collector/deploy_project.sh
  production.env
  staging.env
Due: none

[otlp,python,java] Example OTPL -> Collector -> Sentry
  flask-otlp/_.env.template
  flask-otlp/src/main.py
  spring-boot-otlp/src/main/appengine/app.yaml.template
  spring-boot-otlp/src/main/java/com/sentrydemos/springboot/Application.java
  staging.env
Due: none

[react,next,angular,spring-boot,ruby-on-rails] Consistent backend naming
  .github/workflows/cleanup_inactive_cloud_resources.yml
  .local.env.base
  _tda/conftest.py
  angular/src/app/services/config.service.ts
  angular/src/app/utils/backend-router.ts
  angular/src/environments/environment.ts
  angular/webpack.config.js.template
  next/src/utils/backendrouter.js
  production.env
  react/src/utils/backendrouter.js
  ruby-on-rails/app/controllers/api/v1/api_controller.rb
  ruby-on-rails/app/controllers/api/v1/connect_controller.rb
  ruby-on-rails/app/controllers/api/v1/organization_controller.rb
  ruby-on-rails/app/controllers/api/v1/success_controller.rb
  spring-boot-otlp/README.md
  spring-boot-otlp/src/main/java/com/sentrydemos/springboot/AppController.java
  spring-boot-otlp/src/main/java/com/sentrydemos/springboot/DatabaseHelper.java
  spring-boot-otlp/src/main/java/com/sentrydemos/springboot/utils/SpanUtils.java
  spring-boot-otlp/src/main/java/com/sentrydemos/springboot/utils/Utils.java
  spring-boot/README.md
  spring-boot/src/main/java/com/sentrydemos/springboot/AppController.java
  spring-boot/src/main/java/com/sentrydemos/springboot/DatabaseHelper.java
  spring-boot/src/main/java/com/sentrydemos/springboot/utils/SpanUtils.java
  spring-boot/src/main/java/com/sentrydemos/springboot/utils/Utils.java
  staging.env
Due: none

Fix ReferenceError in production by disabling crash testing
  react/src/tests/Errors.test.js
  react/src/utils/errors.js
Due: none

[react,next] remove assertions in backendrouter tests
  next/src/tests/backendrouter.test.js
  react/src/tests/backendrouter.test.js
Due: none

[react,next,angular,spring-boot,ruby-on-rails] Consistent backend naming (#1288)
  .github/workflows/cleanup_inactive_cloud_resources.yml
  .local.env.base
  _tda/conftest.py
  angular/src/app/services/config.service.ts
  angular/src/app/utils/backend-router.ts
  angular/src/environments/environment.ts
  angular/webpack.config.js.template
  next/src/tests/backendrouter.test.js
  next/src/utils/backendrouter.js
  production.env
  react/src/tests/backendrouter.test.js
  react/src/utils/backendrouter.js
  ruby-on-rails/app/controllers/api/v1/api_controller.rb
  ruby-on-rails/app/controllers/api/v1/connect_controller.rb
  ruby-on-rails/app/controllers/api/v1/organization_controller.rb
  ruby-on-rails/app/controllers/api/v1/success_controller.rb
  spring-boot-otlp/README.md
  spring-boot-otlp/src/main/java/com/sentrydemos/springboot/AppController.java
  spring-boot-otlp/src/main/java/com/sentrydemos/springboot/DatabaseHelper.java
  spring-boot-otlp/src/main/java/com/sentrydemos/springboot/utils/SpanUtils.java
  spring-boot-otlp/src/main/java/com/sentrydemos/springboot/utils/Utils.java
  spring-boot/README.md
  spring-boot/src/main/java/com/sentrydemos/springboot/AppController.java
  spring-boot/src/main/java/com/sentrydemos/springboot/DatabaseHelper.java
  spring-boot/src/main/java/com/sentrydemos/springboot/utils/SpanUtils.java
  spring-boot/src/main/java/com/sentrydemos/springboot/utils/Utils.java
  staging.env
Due: none

Fix UnboundLocalError in checkout: assign quantities before checking length
  flask/src/main.py
Due: checkout_module

Fix TypeError in products endpoint when in_stock_only filter is used
  flask/src/db.py
  flask/src/main.py
Due: checkout_module

route Sentry events to collector-* projects' inst. of normal projects
  staging.env
Due: none

feat(flask-otlp): remove Sentry SDK
  flask-otlp/_.env.template
  flask-otlp/requirements.txt
  flask-otlp/src/db.py
  flask-otlp/src/main.py
Due: none

feat(flask-otlp): add OTLP exporter and fix local DB connection
  .local.env.base
  flask-otlp/_.env.template
  flask-otlp/build.sh
  flask-otlp/requirements.txt
  flask-otlp/src/db.py
  flask-otlp/src/main.py
Due: none

fix(flask-otlp): use x-sentry-auth header for OTLP authentication
  .local.env.base
  flask-otlp/_.env.template
  flask-otlp/src/main.py
Due: none

feat(flask-otlp): remove Sentry SDK and use OTLP exporter
  flask-otlp/requirements.txt
  flask-otlp/src/db.py
  flask-otlp/src/main.py
Due: none

[react] don't group different backends into the same issue
  react/src/index.js
Due: none

Fix undefined variable error in checkout
  laravel/app/Http/Controllers/Api/ProductController.php
Due: none

Add comprehensive checkout tests
  laravel/tests/Feature/ProductApiTest.php
Due: none

Revert "build(deps): bump nokogiri from 1.19.0 to 1.19.1 in /ruby-on-rails (#…"
  ruby-on-rails/Gemfile.lock
Due: none

Revert "build(deps): bump nokogiri from 1.19.0 to 1.19.1 in /ruby-on-rails (#…" (#1302)
  ruby-on-rails/Gemfile.lock
Due: none

[otlp-collector] template-ize config.yaml
  otlp-collector/config.yaml.template
Due: none

Fix UnboundLocalError in checkout: assign quantities before accessing it
  flask/src/main.py
Due: checkout_module

[react] Switch from span attributes to metrics
  react/src/components/Cart.jsx
  react/src/components/Checkout.jsx
  react/src/tests/Checkout.test.js
  react/src/utils/measureRequestDuration.js
Due: product_component

[react] fix metrics pr; upgrade SDK -> 10.39.x
  react/package-lock.json
  react/package.json
  react/src/components/Checkout.jsx
Due: product_component

Fix TypeError in fetch wrapper when options object is undefined
  react/src/index.js
Due: none

Fix array syntax to fetch from all three endpoints
  react/src/components/Products.jsx
Due: product_component

Fix TypeError in notAFunctionError - access correct array index
  react/src/utils/errors.js
Due: none
