Repository sentry-demos/empower: changes, and which Codecov flags are due for each by the changed paths.
All: checkout_module, product_component

codecov.yml:

# cat codecov.yml | curl --data-binary @- https://codecov.io/validate
fixes:
  - "empower/::"

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        informational: true
        target: 35%
    patch:
      frontend:
        informational: true
        target: 80%
        flags:
          - frontend
      api:
        informational: true
        target: 50%
        flags:
          - api

github_checks:
  annotations: true

comment:
  layout: "newheader, diff, flags, components, files"
  require_changes: false # false :: posts comment regardless of whether coverage changes
  require_base: false # [false :: doesn't need a base report to post]
  require_head: true # [true :: must have a head report to post]
  show_carryforward_flags: true
  # show_critical_paths: true # affects labeled critical files -- leaving out for now
  hide_comment_details: true # collapse 'detailed info' for PR comment

flag_management:
  individual_flags:
    - name: api
      paths:
        - flask/
    - name: frontend
      paths:
        - react/
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: python_component
      name: checkout_module
      paths:
        - flask/src/**
    - component_id: js_component
      name: product_component
      paths:
        - react/src/components/**
      
# Vlad said--
# i just checked the file. the test_utils.py is purely a test file, 
# just assertions and tests, so in theory it shouldn't be counted 
# towards the overall coverage of the repo or "production code". 
# i'm not sure why some tools include the tests as part of the coverage report, 
# but it can be mitigated by excluding them via codecov.yaml or --source setting 
# in the pytest, but the issue is that the test directory is also under the 
# /src/  so it looks like it is instrumenting the code for all the python files 
# in that location. this is not a big deal, but in case anyone asks this is why 
# it is showing up.
ignore:
  - "flask/src/test/test_utils.py"

-
  react/build2.sh
Due: none

added bundle analysis
  .github/workflows/run_codecov_on_pull_request.yml
  react/build.sh
  react/config-overrides.js.template
  react/package-lock.json
  react/package.json
Due: none

-
  react/config-overrides.js.template
Due: none

added webpack plugin
  react/package-lock.json
  react/package.json
Due: none

removed unnecessary package
  react/package-lock.json
  react/package.json
Due: none

refactor
  .github/workflows/run_codecov_on_pull_request.yml
  react/config-overrides.js.template
Due: none

Update README.md
  README.md
Due: none

removed unnecessary command
  .github/workflows/run_codecov_on_pull_request.yml
Due: none

test
  react/src/components/Employee.jsx
Due: product_component

test
  react/src/assets/cat.jpg
  react/src/components/Employee.jsx
  react/src/components/employees/emma.js
Due: product_component

refactor
  react/src/components/employees/emma.js
Due: product_component

Update mock-data.yml
  .github/workflows/mock-data.yml
Due: none

[rails] upgrade Ruby 2.7 -> 3.2, upgrade and clean up other dependencies
  ruby-on-rails/.ruby-version
  ruby-on-rails/Gemfile
  ruby-on-rails/Gemfile.lock
  ruby-on-rails/app.yaml.template
  ruby-on-rails/build.sh
  ruby-on-rails/tmp/.keep
Due: none

comment fix
  react/config-overrides.js.template
Due: none

[rails] upgrade Ruby 2.7 -> 3.2, upgrade and clean up other dependencies (#653)
  ruby-on-rails/.ruby-version
  ruby-on-rails/Gemfile
  ruby-on-rails/Gemfile.lock
  ruby-on-rails/app.yaml.template
  ruby-on-rails/build.sh
  ruby-on-rails/tmp/.keep
Due: none

comment fix
  .github/workflows/run_codecov_on_pull_request.yml
  react/build.sh
Due: none

testing vercel skip deploy
  react/src/index.js
Due: none

Added bundle analysis to the config template of react project (#649)
  .github/workflows/run_codecov_on_pull_request.yml
  react/config-overrides.js.template
  react/package-lock.json
  react/package.json
Due: none

Remove rails from auto-deploy.exclude now that we upgraded Ruby
  auto-deploy.exclude
Due: none

[rails] touch Gemfile to trigger deployment
  ruby-on-rails/Gemfile
Due: none

Update build.sh
  ruby-on-rails/build.sh
Due: none

fix for PR #651
  ruby-on-rails/app/controllers/api/v1/products_controller.rb
Due: none

[react, rails] rollback some unnecessary changes in autofix-generate PR #655
  react/src/components/Products.jsx
  ruby-on-rails/app/controllers/api/v1/products_controller.rb
Due: product_component

[react, rails] rollback some unnecessary changes in autofix-generate PR #655 (#656)
  react/src/components/Products.jsx
  ruby-on-rails/app/controllers/api/v1/products_controller.rb
Due: product_component

[rails] Revert all previous attemtpts
  ruby-on-rails/Gemfile
  ruby-on-rails/app/controllers/api/v1/products_controller.rb
  ruby-on-rails/app/serializers/product_serializer.rb
Due: none

[rails] fix reviews serialization after Postgres upgrade
  ruby-on-rails/app/controllers/api/v1/products_controller.rb
Due: none

added new business exception
  react/src/components/NotEnoughInventory.jsx
  react/src/index.js
  react/src/utils/errors.js
Due: product_component

added new error
  react/src/utils/errors.js
Due: none

added tests
  react/src/tests/Errors.test.js
Due: none

fix test
  react/src/tests/Errors.test.js
Due: none

[rails] Fix after Postgres upgrade, attempt #4 (#658)
  ruby-on-rails/Gemfile
  ruby-on-rails/app/controllers/api/v1/products_controller.rb
  ruby-on-rails/app/serializers/product_serializer.rb
Due: none

Change pipeline settings
  .github/workflows/run_codecov_on_pull_request.yml
Due: none

comment fix
  .github/workflows/run_codecov_on_pull_request.yml
Due: none

--
  .github/workflows/run_codecov_on_pull_request.yml
Due: none

Changed Codecov settings to upload analysis to master branch (#661)
  .github/workflows/run_codecov_on_pull_request.yml
Due: none

- flask_cache_ was being added as a default key prefix which interfered with the transaction being shown in Sentry UI
  flask/src/main.py
Due: checkout_module

removed forced timeout in db
  next/lib/data.js
Due: none

Rollback sandbox mirror
  react/README.md
Due: none

- flask_cache_ was being added as a default key prefix which interfered with the transaction being shown in Sentry UI (#662)
  flask/src/main.py
Due: checkout_module
