Repository sentry-demos/empower: changes, and which Codecov flags are due for each by the changed paths.
All: flask, react

Update README.md with User Feedback instructions (#457)
  README.md
Due: none

fix word
  README.md
Due: none

fix word (#458)
  README.md
Due: none

Add codecov bundler plugin
  react/craco.config.js
  react/package-lock.json
  react/package.json
Due: react

fix craco config, maybe
  react/craco.config.js
  react/package.json
Due: react

fix extra plugins key
  react/craco.config.js
Due: react

attempt to fix error: 'Error: Cannot find module '@codecov/webpack-plugin' '
  .github/workflows/run_codecov_on_pull_request.yml
Due: none

install codecov webpack plugin first
  .github/workflows/run_codecov_on_pull_request.yml
Due: none

adjust github action command from 'npm test' to 'craco test'
  .github/workflows/run_codecov_on_pull_request.yml
Due: none

install craco during GHA
  .github/workflows/run_codecov_on_pull_request.yml
Due: none

install craco first
  .github/workflows/run_codecov_on_pull_request.yml
Due: none

change misguided command back from craco to test
  .github/workflows/run_codecov_on_pull_request.yml
Due: none

ensure codecov token is passed
  .github/workflows/run_codecov_on_pull_request.yml
Due: none

switch order
  .github/workflows/run_codecov_on_pull_request.yml
Due: none

Add logic to get subscription plan
  flask/src/test_util.py
  flask/src/test_utils.py
  flask/src/utils.py
Due: flask

newline end of file
  flask/src/test_utils.py
Due: flask

fix ternary syntax
  flask/src/utils.py
Due: flask

update codecov.yml
  codecov.yml
Due: none

update codecov flags
  .github/workflows/run_codecov_on_pull_request.yml
Due: none

update codecov yml flags
  codecov.yml
Due: none

fix method return value
  flask/src/utils.py
Due: flask

rename test file
  flask/src/test_utils.py
Due: flask

update codecov-related yml files
  .github/workflows/run_codecov_on_pull_request.yml
  codecov.yml
Due: none

Logic to fetch subscriptions
  flask/src/test_utils.py
  flask/src/utils.py
Due: flask

Codecov pr comment v2 (#461)
  .github/workflows/run_codecov_on_pull_request.yml
  codecov.yml
  flask/src/test_utils.py
Due: flask

merge main branch
  flask/src/test_utils.py
  flask/src/utils.py
Due: flask

display components in codecov comment
  codecov.yml
Due: none

display components in codecov comment (#466)
  codecov.yml
Due: none

Update README.md
  README.md
Due: none

Update README.md (#467)
  README.md
Due: none

add logic to fetch subscription plans
  flask/src/test_utils.py
  flask/src/utils.py
Due: flask

[platform] Disable mock data check on pull request
  .github/workflows/mock-data.yml
Due: none

[platform] Disable mock data check on pull request (#469)
  .github/workflows/mock-data.yml
Due: none

switch dummy emails to example.com
  react/src/index.js
Due: none

switch dummy emails to example.com (#471)
  react/src/index.js
Due: none

ensure flags get uploaded along with coverage reports upon merge to master branch
  .github/workflows/auto-deploy.yml
Due: none

quickstart attempt
  react/src/components/About.jsx
  react/src/index.js
Due: none

javascript launchdarkly-js-client-sdk attempt
  react/src/components/About.jsx
  react/src/index.js
Due: none

cleanup
  react/src/index.js
Due: none

cleanup
  react/src/components/About.jsx
Due: none

Path conditions:
  flask: any of: flask, but not: react/src
  react: any of: react, but not: react/src
