Repository sentry-demos/empower: changes, and which Codecov flags are due for each by the changed paths.
All: checkout_module, product_component

codecov.yml:

# cat codecov.yml | curl --data-binary @- https://codecov.io/validate
fixes:
  - "empower/::"

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        informational: true
        target: 35%
    patch:
      frontend:
        informational: true
        target: 80%
        flags:
          - frontend
      api:
        informational: true
        target: 50%
        flags:
          - api

github_checks:
  annotations: true

comment:
  layout: "newheader, diff, flags, components, files"
  require_changes: false # false :: posts comment regardless of whether coverage changes
  require_base: false # [false :: doesn't need a base report to post]
  require_head: true # [true :: must have a head report to post]
  show_carryforward_flags: true
  # show_critical_paths: true # affects labeled critical files -- leaving out for now
  hide_comment_details: true # collapse 'detailed info' for PR comment

flag_management:
  individual_flags:
    - name: api
      paths:
        - flask/
    - name: frontend
      paths:
        - react/
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: python_component
      name: checkout_module
      paths:
        - flask/src/**
    - component_id: js_component
      name: product_component
      paths:
        - react/src/components/**

# Vlad said--
# i just checked the file. the test_utils.py is purely a test file,
# just assertions and tests, so in theory it shouldn't be counted
# towards the overall coverage of the repo or "production code".
# i'm not sure why some tools include the tests as part of the coverage report,
# but it can be mitigated by excluding them via codecov.yaml or --source setting
# in the pytest, but the issue is that the test directory is also under the
# /src/  so it looks like it is instrumenting the code for all the python files
# in that location. this is not a big deal, but in case anyone asks this is why
# it is showing up.
ignore:
  - "flask/src/test/"

feat(laravel): make the product query an N+1 query
  laravel/app/Http/Controllers/Api/ProductController.php
Due: none

feat(laravel): mimick behavior of flask: doing heavy computation to slow down response on purpose
  laravel/app/Http/Controllers/Api/ProductController.php
Due: none

Fix UnboundLocalError in checkout: assign quantities before checking length
  flask/src/main.py
Due: checkout_module

[platform] auto-deploy.exclude: start deploying react again
  auto-deploy.exclude
Due: none

[platform] make -- [custom_command] work for any --env (fixes CI))
  deploy
Due: none

[platform] make -- [custom_command] work for any --env (fixes CI)) (#1162)
  deploy
Due: none

Update _tda/README.md
  _tda/README.md
Due: none

[tda,react,agent] TDA automation for AI Agent
  _tda/desktop_web/test_ai_agent.py
Due: none

remove _tda/test_about_employees
  _tda/desktop_web/test_about_employees.py
Due: none

run _tda/test_ai_agent with only 1 browser
  _tda/conftest.py
  _tda/desktop_web/test_ai_agent.py
Due: none

[react] AI Agent Frontend v0 - r2
  react/src/components/ChatWidget.jsx
Due: product_component

Update next/README.md
  next/README.md
Due: none

[tda,react,agent] TDA automation for AI Agent (#1164)
  _tda/conftest.py
  _tda/desktop_web/test_about_employees.py
  _tda/desktop_web/test_ai_agent.py
  react/src/components/ChatWidget.jsx
Due: product_component

fixes
  .local.env.base
  _bin/ensure_docker.sh
  agent/Dockerfile
  agent/README.md
  agent/config.py
  agent/deploy_project.sh
  agent/docker-compose.yml
  agent/run_local.sh
  production.env
  staging.env
Due: none

use AGENT_URL_STAGING in staging and local
  .local.env.base
  staging.env
Due: none

[agent,nextjs,react] move Agent from constantinius, integrate deploy, delete old NextJS agent
  .local.env.base
  README.md
  agent/Dockerfile
  agent/Makefile
  agent/README.md
  agent/app/__init__.py
  agent/app/agents/manager_agent.py
  agent/app/agents/plant_expert_agent.py
  agent/app/api/__init__.py
  agent/app/api/models.py
  agent/app/api/routes.py
  agent/app/jobs.py
  agent/app/tools/buy_plants.py
  agent/app/tools/plant_base_info.py
  agent/app/tools/plant_recommendations.py
  agent/app/utils.py
  agent/config.py
  agent/deploy_project.sh
  agent/docker-compose.yml
  agent/main.py
  agent/pyproject.toml
  agent/requirements.txt
  agent/run_local.sh
  flask/requirements.txt
  flask/src/main.py
  next/lib/data.js
  next/package.json
  next/src/app/api/showSuggestion/route.js
  next/src/app/api/suggestion/route.js
  next/src/app/page.jsx
  next/src/styles/index.css
  production.env
  react/_.env.template
  react/src/components/ChatWidget.jsx
  staging.env
Due: checkout_module, product_component

[agent,tda] Remove API Tester, _tda seasonality for parity, SDK -> 2.49.0 (count_tokens)
  _tda/desktop_web/test_ai_agent.py
  agent/app/jobs.py
  agent/config.py
  agent/main.py
  agent/requirements.txt
Due: none

[agent,nextjs,react] move Agent from constantinius, integrate deploy, delete old NextJS agent (#1165)
  .local.env.base
  README.md
  _bin/ensure_docker.sh
  agent/Dockerfile
  agent/Makefile
  agent/README.md
  agent/app/__init__.py
  agent/app/agents/manager_agent.py
  agent/app/agents/plant_expert_agent.py
  agent/app/api/__init__.py
  agent/app/api/models.py
  agent/app/api/routes.py
  agent/app/jobs.py
  agent/app/tools/buy_plants.py
  agent/app/tools/plant_base_info.py
  agent/app/tools/plant_recommendations.py
  agent/app/utils.py
  agent/config.py
  agent/deploy_project.sh
  agent/docker-compose.yml
  agent/main.py
  agent/pyproject.toml
  agent/requirements.txt
  agent/run_local.sh
  flask/requirements.txt
  flask/src/main.py
  next/lib/data.js
  next/package.json
  next/src/app/api/showSuggestion/route.js
  next/src/app/api/suggestion/route.js
  next/src/app/page.jsx
  next/src/styles/index.css
  production.env
  react/_.env.template
  react/src/components/ChatWidget.jsx
  staging.env
Due: checkout_module, product_component

[agent,tda] Remove API Tester, _tda seasonality for parity, SDK -> 2.49.0 (count_tokens) (#1167)
  _tda/desktop_web/test_ai_agent.py
  agent/config.py
  agent/main.py
  agent/requirements.txt
Due: none

Fix UnboundLocalError in checkout: define quantities before using it
  flask/src/main.py
Due: checkout_module

Fix TypeError in /products endpoint when in_stock_only filter is used
  flask/src/main.py
Due: checkout_module

feat(laravel): mimick behavior of flask: doing heavy computation to slow down response on purpose and introduce N+1 query (#1161)
  laravel/app/Http/Controllers/Api/ProductController.php
Due: none

fix(laravel): in product search join with the deliberately slow "product_bundles" table to cause N+1 issues to be detected
  laravel/app/Http/Controllers/Api/ProductController.php
Due: none

fix(laravel): in product search join with the deliberately slow "product_bundles" table to cause N+1 issues to be detected (#1169)
  laravel/app/Http/Controllers/Api/ProductController.php
Due: none

fix: renaming index_joined to products_join for consistency
  laravel/app/Http/Controllers/Api/ProductController.php
Due: none

fix: method name in routes
  laravel/routes/web.php
Due: none

fix: check whether backend url is set
  laravel/app/Http/Controllers/Api/ProductController.php
Due: none

Fix UnboundLocalError in checkout: access cart['quantities'] before assignment
  flask/src/main.py
Due: checkout_module

Fix UnboundLocalError: define quantities before checking its length in checkout
  flask/src/main.py
Due: checkout_module

Fix UnboundLocalError in checkout: move quantities assignment before validation check
  flask/src/main.py
Due: checkout_module

Fix TypeError: Object has no method 'updateFrom'
  react/src/tests/realtimeCollection.test.js
  react/src/utils/REALTIME_COLLECTION_FIX.md
  react/src/utils/realtimeCollection.js
  react/verify_fix.js
Due: none

Add production-ready React component example and documentation
  FIX_SUMMARY.md
  react/src/components/RealtimeDashboard.jsx
  react/src/components/realtimeDashboard.css
Due: product_component

touch _tda to deploy
  _tda/README.md
Due: none

Fix UnboundLocalError in checkout: move quantities assignment before usage
  flask/src/main.py
Due: checkout_module

[platform] Emergency bypass Sandbox Mirror (direct ingest to demo.sentry.io)
  production.env
Due: none

[tda] fix local _tda deploy "Permission denied (publickey)"
  _tda/deploy_project.sh
Due: none

[platform] allow to specify project for manual CI deploy
  .github/workflows/auto-deploy.yml
Due: none

security fix
  .github/workflows/auto-deploy.yml
Due: none

[agent] Upgrade SDK -> 2.50.0 to get distr. trace to MCP
  agent/requirements.txt
Due: none

Fix UnboundLocalError in checkout function
  flask/src/main.py
Due: checkout_module
