Repository sentry-demos/empower: changes, and which Codecov flags are due for each by the changed paths.
All: checkout_module, product_component

Fix UnboundLocalError in checkout endpoint by reordering variable assignment
  flask/src/main.py
Due: checkout_module

Fix checkout 500 error by correcting hasInventory() method
  spring-boot-otlp/src/main/java/com/sentrydemos/springboot/AppController.java
  spring-boot/src/main/java/com/sentrydemos/springboot/AppController.java
Due: none

Fix checkout endpoint: implement inventory check and rescue exception
  ruby-on-rails/app/controllers/api/v1/checkout_controller.rb
Due: none

Enable pool_pre_ping to prevent stale DB connections
  flask-otlp/src/db.py
  flask/src/db.py
Due: checkout_module

Fix UnboundLocalError in checkout endpoint
  flask/src/main.py
Due: checkout_module

Fix checkout 500 error: initialize $quantities before empty check
  laravel/app/Http/Controllers/Api/ProductController.php
Due: none

Fix UnboundLocalError in checkout by assigning quantities before use
  flask/src/main.py
Due: checkout_module

Fix UnboundLocalError in checkout by assigning quantities before use
  flask-otlp/src/main.py
  flask/src/main.py
Due: checkout_module

Replace single pg.Client with pg.Pool for resilient DB connections
  next/lib/db.js
Due: none

react: continue incoming distributed trace from URL params
  react/src/index.js
Due: none

tda(android_flutter): add Web View and OTLP journey tests
  _tda/mobile_native/android_flutter/test_otlp_flutter_android.py
  _tda/mobile_native/android_flutter/test_webview_flutter_android.py
Due: none

fix: bind chat widget metrics to chat session trace
  react/src/components/ChatWidget.jsx
Due: product_component

fix: bind chat widget metrics to chat session trace (#1564)
  react/src/components/ChatWidget.jsx
Due: product_component

Fix UnboundLocalError in checkout empty-cart guard
  flask/src/main.py
Due: checkout_module

Fix checkout 500 error: move empty cart check after $quantities is populated
  laravel/app/Http/Controllers/Api/ProductController.php
Due: none

feat: exclude native project from cleanup
  .github/workflows/cleanup_projects.yml
Due: none

feat: exclude native project from cleanup (#1569)
  .github/workflows/cleanup_projects.yml
Due: none

docs: add AGENTS.md for empower root and _tda
  AGENTS.md
  _tda/AGENTS.md
Due: none

Add 'ai-engineer-conf' to cleanup exclusion list
  .github/workflows/cleanup_projects.yml
Due: none

Add 'ai-engineer-conf' to cleanup exclusion list (#1571)
  .github/workflows/cleanup_projects.yml
Due: none

fix: use cart['quantities'] instead of unbound local in empty-cart guard
  flask/src/main.py
Due: checkout_module

react: continue incoming distributed trace from URL params (#1555)
  react/src/index.js
Due: none

tda(android_flutter): fix OTLP feedback-dialog Send selector
  _tda/mobile_native/android_flutter/test_otlp_flutter_android.py
Due: none

tda(android_flutter): add Web View + OTLP journey tests (#1556)
  _tda/mobile_native/android_flutter/test_otlp_flutter_android.py
  _tda/mobile_native/android_flutter/test_webview_flutter_android.py
Due: none

Fix N+1 query in getProductsRaw by batching reviews fetch
  next/lib/data.js
Due: none

Fix UnboundLocalError in /checkout endpoint
  flask/src/main.py
Due: checkout_module

Fix checkout 500 error for out-of-stock items
  react/src/components/CheckoutForm.jsx
  spring-boot-otlp/src/main/java/com/sentrydemos/springboot/AppController.java
  spring-boot/src/main/java/com/sentrydemos/springboot/AppController.java
Due: product_component

Fix checkout inventory validation: move $quantities init before empty check
  laravel/app/Http/Controllers/Api/ProductController.php
Due: none

Fix UnboundLocalError in checkout endpoint by reordering quantities assignment
  flask/src/main.py
Due: checkout_module

[aspnetcore] demo build-out: promo lookup, Caches, metrics, opt-in slow queries
  _postgres/data/empowerplant.sql
  aspnetcore/Controllers/ApplyPromoController.cs
  aspnetcore/Controllers/BlockingController.cs
  aspnetcore/Controllers/CheckoutController.cs
  aspnetcore/Controllers/DemoController.cs
  aspnetcore/Controllers/EnqueueController.cs
  aspnetcore/Controllers/ProductInfoController.cs
  aspnetcore/Controllers/ProductsController.cs
  aspnetcore/EmailQueue.cs
  aspnetcore/HardwareStoreContext.cs
  aspnetcore/Models/PromoCode.cs
  aspnetcore/Program.cs
  aspnetcore/README.md
  aspnetcore/SentryCache.cs
  empower.sln
  react/src/components/CheckoutForm.jsx
Due: product_component

react: migrate to Sentry span streaming
  react/package-lock.json
  react/package.json
  react/src/index.js
Due: none

fix: replace N+1 get_products() with efficient get_products_join()
  flask-otlp/src/db.py
  flask-otlp/src/main.py
Due: none

fix: remove redundant OR clause in inventory validation
  next/lib/data.js
Due: none

Fix static asset requests to always use Flask backend
  react/src/components/Products.jsx
Due: product_component

react: migrate to Sentry span streaming (#1590)
  react/package-lock.json
  react/package.json
  react/src/index.js
Due: none

tda(cexp): switch critical experiences schedule to 7-day cycle
  _tda/conftest.py
Due: none

fix(laravel): move $quantities population before empty check in checkout
  laravel/app/Http/Controllers/Api/ProductController.php
Due: none

tda(cexp): switch critical experiences schedule to 7-day cycle (#1603)
  _tda/conftest.py
Due: none

react: pin checkout 500 error to the page it happens on
  react/src/components/CheckoutForm.jsx
  react/src/utils/utils.js
Due: product_component

Path conditions:
  checkout_module: any of: flask/src/**, but not: flask/src/test/
  product_component: any of: react/src/components/**, but not: flask/src/test/
