Repository sentry-demos/empower: changes, and which Codecov flags are due for each by the changed paths.
All: checkout_module, product_component

codecov.yml:

# cat codecov.yml | curl --data-binary @- https://codecov.io/validate
fixes:
  - "empower/::"

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        informational: true
        target: 35%
    patch:
      frontend:
        informational: true
        target: 80%
        flags:
          - frontend
      api:
        informational: true
        target: 50%
        flags:
          - api

github_checks:
  annotations: true

comment:
  layout: "newheader, diff, flags, components, files"
  require_changes: false # false :: posts comment regardless of whether coverage changes
  require_base: false # [false :: doesn't need a base report to post]
  require_head: true # [true :: must have a head report to post]
  show_carryforward_flags: true
  # show_critical_paths: true # affects labeled critical files -- leaving out for now
  hide_comment_details: true # collapse 'detailed info' for PR comment

flag_management:
  individual_flags:
    - name: api
      paths:
        - flask/
    - name: frontend
      paths:
        - react/
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: python_component
      name: checkout_module
      paths:
        - flask/src/**
    - component_id: js_component
      name: product_component
      paths:
        - react/src/components/**

# Vlad said--
# i just checked the file. the test_utils.py is purely a test file,
# just assertions and tests, so in theory it shouldn't be counted
# towards the overall coverage of the repo or "production code".
# i'm not sure why some tools include the tests as part of the coverage report,
# but it can be mitigated by excluding them via codecov.yaml or --source setting
# in the pytest, but the issue is that the test directory is also under the
# /src/  so it looks like it is instrumenting the code for all the python files
# in that location. this is not a big deal, but in case anyone asks this is why
# it is showing up.
ignore:
  - "flask/src/test/"

[agent,mcp] v0.9 - fully working using Empower data
  .gitignore
  agent/app/agents/question_generator.py
  agent/app/agents/shopping_agent.py
  agent/app/api/routes.py
  agent/app/question_store.py
  agent/app/utils.py
  agent/run_local.sh
  mcp/index.ts
  mcp/run_local.sh
  mcp/tools/get-products.ts
  react/run_local.sh
  react/src/index.js
Due: none

[agent] remove all legacy plant care code+prompts, only accessories now
  agent/README.md
  agent/app/agents/shopping_agent.py
  agent/app/api/models.py
  agent/app/api/routes.py
  agent/main.py
Due: none

[agent] minimum number of questions, get rid of next_question,
  agent/app/agents/question_generator.py
  agent/app/agents/shopping_agent.py
  agent/app/api/routes.py
  agent/app/question_store.py
  agent/main.py
  mcp/run_local.sh
Due: none

iterating on prompts, lazy fetch products, upgrade SDKs
  agent/app/agents/question_generator.py
  agent/app/agents/shopping_agent.py
  agent/requirements.txt
  mcp/package.json
Due: none

Fix SyntaxError in Products component - check response.ok before parsing JSON
  react/src/components/Products.jsx
Due: product_component

Fix errnum query parameter parsing in crasher function
  next/src/utils/errors.js
  react/src/utils/errors.js
Due: none

Fix quantities variable used before assignment in /checkout endpoint
  flask-otlp/src/main.py
  flask/src/main.py
Due: checkout_module

Fix inventory validation logic to allow exact quantity matches
  next/lib/data.js
Due: none

Fix TypeError: Cannot read properties of undefined (reading 'includes')
  react/src/components/ProductCard.jsx
Due: product_component

Fix hasInventory() method to check actual inventory levels
  spring-boot-otlp/src/main/java/com/sentrydemos/springboot/AppController.java
  spring-boot/src/main/java/com/sentrydemos/springboot/AppController.java
Due: none

Fix inverted condition in checkout error handling
  react/src/components/CheckoutForm.jsx
Due: product_component

Fix inverted error handling logic in checkout form
  react/src/components/CheckoutForm.jsx
Due: product_component

Ensure network errors also throw after being captured
  react/src/components/CheckoutForm.jsx
Due: product_component

Update package-lock.json from npm install
  react/package-lock.json
Due: none

Fix inverted error handling condition in checkout form
  react/src/components/CheckoutForm.jsx
Due: product_component

Fix slow DB query in get_products: remove pg_sleep and N+1 query
  flask/src/db.py
Due: checkout_module

Fix: Initialize $quantities before empty check in checkout
  laravel/app/Http/Controllers/Api/ProductController.php
Due: none

Fix inverted error handling logic in CheckoutForm
  react/src/components/CheckoutForm.jsx
Due: product_component

[angular] Add metrics, logs, and promo code flow to match React
  angular/package-lock.json
  angular/package.json
  angular/src/app/components/cart/cart.component.ts
  angular/src/app/components/checkout-form/checkout-form.component.html
  angular/src/app/components/checkout-form/checkout-form.component.ts
  angular/src/app/services/config.service.ts
  angular/src/app/utils/measure-request-duration.ts
  angular/src/app/utils/sentry-utils.ts
  angular/src/main.ts
Due: none

add Vue service to DNS load balancer config
  _dns/config.yaml.template
Due: none

add Vue endpoint to basic checkout TDA test
  _tda/desktop_web/test_basic_checkout.py
Due: none

add Vue-specific basic checkout TDA test
  _tda/desktop_web/test_basic_checkout_vue.py
Due: none

Vue demo refresh: modern UI, TDA selector alignment, staging config fixes
  _tda/desktop_web/test_basic_checkout_vue.py
  staging.env
  vue/_.env.template
  vue/build.sh
  vue/package-lock.json
  vue/src/App.vue
  vue/src/components/ProductSummary.vue
  vue/src/router/index.js
  vue/src/views/AboutView.vue
  vue/src/views/CartView.vue
  vue/src/views/CheckoutView.vue
  vue/src/views/ProductsView.vue
Due: none

address PR review comments: OTLP backends, DSN rename, cleanup unused flags
  staging.env
  vue/_.env.template
  vue/build.sh
  vue/src/main.js
  vue/src/utils/backendrouter.js
  vue/src/utils/experiments.js
  vue/src/views/CheckoutView.vue
  vue/src/views/ProductsView.vue
Due: none

Fix UnboundLocalError in checkout function
  flask/src/main.py
Due: checkout_module

Fix inverted error handling logic in checkout function
  react/src/components/CheckoutForm.jsx
Due: product_component

Update package-lock.json to match package.json dependencies
  react/package-lock.json
Due: none

Fix checkout error handling logic
  react/src/components/CheckoutForm.jsx
  spring-boot-otlp/src/main/java/com/sentrydemos/springboot/AppController.java
Due: product_component

Fix checkout 500 error: backend inventory check and frontend error handling
  react/src/components/CheckoutForm.jsx
  spring-boot-otlp/src/main/java/com/sentrydemos/springboot/AppController.java
  spring-boot/src/main/java/com/sentrydemos/springboot/AppController.java
Due: product_component

follow <PROJECT>_SUBDOMAIN pattern for VUE env vars
  .local.env.base
  production.env
  staging.env
Due: none

Fix UnboundLocalError in checkout: define quantities before use
  flask/src/main.py
Due: checkout_module

Fix checkout error handling logic to prevent duplicate Sentry events
  react/src/components/CheckoutForm.jsx
Due: product_component

Move crasher() from constructor to componentDidMount and add top-level error boundary
  react/src/index.js
Due: none

Fix inventory check logic in checkout endpoint
  express/server.js
Due: none

Fix inventory check and error handling in checkout
  express/server.js
  react/src/components/CheckoutForm.jsx
Due: product_component

Fix inventory check to prevent 500 errors during checkout
  ruby-on-rails/app/controllers/api/v1/checkout_controller.rb
Due: none
