Repository sentry-demos/empower: changes, and which Codecov flags are due for each by the changed paths.
All: checkout_module, product_component

codecov.yml:

# cat codecov.yml | curl --data-binary @- https://codecov.io/validate
fixes:
  - "empower/::"

coverage:
  status:
    project:
      default:
        informational: true
        target: 50%
    patch:
      frontend:
        informational: true
        target: 80%
        flags:
          - frontend
      api:
        informational: true
        target: 50%
        flags:
          - api

github_checks:
  annotations: true

comment:
  layout: "newheader, diff, flags, files, components"
  require_changes: false # false :: posts comment regardless of whether coverage changes
  require_base: false # [false :: doesn't need a base report to post]
  require_head: true # [true :: must have a head report to post]
  show_carryforward_flags: true
  # show_critical_paths: true # affects labeled critical files -- leaving out for now
  hide_comment_details: true # collapse 'detailed info' for PR comment

flag_management:
  individual_flags:
    - name: api
      paths:
        - flask/
    - name: frontend
      paths:
        - react/
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: python_component
      name: checkout_module
      paths:
        - flask/src/**
    - component_id: js_component
      name: product_component
      paths:
        - react/src/components/**

Add tests for cc coverage (#544)
  flask/src/test/__init__.py
  flask/src/test/test_db.py
  flask/src/test/test_main.py
  flask/src/test/test_utils.py
  flask/src/test_utils.py
  react/package-lock.json
  react/package.json
  react/src/tests/About.test.js
  react/src/tests/Actions.test.js
  react/src/tests/App.test.js
  react/src/tests/Cart.test.js
  react/src/tests/Checkout.test.js
  react/src/tests/Employee.test.js
  react/src/tests/Errors.test.js
  react/src/tests/Footer.test.js
  react/src/tests/Product.test.js
  react/src/tests/ProductCard.test.js
  react/src/tests/Products.test.js
  react/src/tests/ProductsJoin.test.js
  react/src/tests/Reducer.test.js
  react/src/tests/Slugify.test.js
  react/src/tests/Time.test.js
  react/src/tests/backendrouter.test.js
  react/src/tests/measureRequestDuration.test.js
Due: checkout_module

add test for subscription plan
  flask/src/test/test_utils.py
Due: checkout_module

update test
  flask/src/test/test_utils.py
Due: checkout_module

Adjust project code coverage target
  codecov.yml
Due: none

add subscription plan logic plus a test
  flask/src/test/test_utils.py
  flask/src/utils.py
Due: checkout_module

fix replay .sentry-unblock after v7->v8 everything is ******
  react/src/index.js
Due: none

fix replay .sentry-unblock after v7->v8 everything is ****** (#554)
  react/src/index.js
Due: none

Disable pr_review_reminder.yml as it's currently broken
  .github/workflows/pr_review_reminder.yml
Due: none

vlad feedback on codecov demo PR
  codecov.yml
Due: none

rando comment
  react/src/index.js
Due: none

CloudSQL instructions - Update README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

replace metrics
  react/src/components/Checkout.jsx
  react/src/components/Products.jsx
  react/src/utils/measureRequestDuration.js
Due: product_component

round coverage precision, ignore test_utils.py
  codecov.yml
Due: none

ignore whole flask/src/test dir
  codecov.yml
Due: none

Vlad feedback codecov demo (#565)
  codecov.yml
Due: none

trigger commit
  flask/src/utils.py
Due: checkout_module

test rounding
  flask/src/utils.py
Due: checkout_module

Remove Cloud SQL IP instructions from README.md
  README.md
Due: none

Update TDA README.md
  tda/README.md
Due: none

[flask] upgrade sentry-python 1.40.0 -> 2.14.0; handle SE "supertag" better wrt grouping
  flask/requirements.txt
  flask/src/main.py
Due: checkout_module

[react] don't pre-fill checkout form for local TDA; flush replay after checkout
  react/src/components/Checkout.jsx
  react/src/components/Complete.jsx
  react/src/components/CompleteError.jsx
Due: product_component

[tda] Improvements
  tda/conftest.py
  tda/deploy_tda.sh
  tda/desktop_web/test_checkout.py
  tda/desktop_web/test_homepage_vue.py
  tda/requirements.txt
Due: none

[tda,react,flask] Critical Experiences v0
  flask/app.yaml.template
  flask/src/main.py
  react/src/components/Checkout.jsx
  react/src/components/Complete.jsx
  react/src/components/ProductCard.jsx
  react/src/components/Products.jsx
  react/src/index.js
  react/src/reducers/index.js
  tda/conftest.py
  tda/desktop_web/test_checkout.py
Due: checkout_module, product_component

[tda] metrics fix abandoned reason
  tda/conftest.py
  tda/desktop_web/test_checkout.py
Due: none

[tda] CExp use 6 hour cycle instead of 5h
  tda/conftest.py
Due: none

Bump Python SDK version (#525)
  crons-python/requirements.txt
  flask/requirements.txt
  flask/src/main.py
  tda/requirements.txt
Due: checkout_module

[flask] upgrade sentry-python 1.40.0 -> 2.14.0; handle SE "supertag" better wrt grouping (#570)
  flask/requirements.txt
  flask/src/main.py
Due: checkout_module

[react] don't pre-fill checkout form for local TDA; flush replay after checkout (#571)
  react/src/components/Checkout.jsx
  react/src/components/Complete.jsx
  react/src/components/CompleteError.jsx
Due: product_component

[tda] Improvements (#572)
  tda/conftest.py
  tda/deploy_tda.sh
  tda/desktop_web/test_checkout.py
  tda/desktop_web/test_homepage_vue.py
  tda/requirements.txt
Due: none

[tda,react,flask] Critical Experiences v0 (#573)
  flask/app.yaml.template
  flask/src/main.py
  react/src/components/Checkout.jsx
  react/src/components/Complete.jsx
  react/src/components/ProductCard.jsx
  react/src/components/Products.jsx
  react/src/index.js
  react/src/reducers/index.js
  tda/conftest.py
  tda/desktop_web/test_checkout.py
Due: checkout_module, product_component

[react] Don't fail deploy if a test fails
  .github/workflows/auto-deploy.yml
Due: none

[react] fix unit test broken by Crit. Exp. PR and blocking deploy
  react/src/tests/Reducer.test.js
Due: none

[react] fix unit test broken by Crit. Exp. PR and blocking deploy (#577)
  react/src/tests/Reducer.test.js
Due: none

[tda] test_checkout - fix error
  tda/desktop_web/test_checkout.py
Due: none

[tda] test_checkout - fix error (#578)
  tda/desktop_web/test_checkout.py
Due: none

remove safari from rotation as it's not loading up empower properly
  tda/config.yaml
Due: none

remove safari from rotation as it's not loading up empower properly (#579)
  tda/config.yaml
Due: none
