Repository sentry-demos/empower: changes, and which Codecov flags are due for each by the changed paths.
All: flask, react

codecov.yml:

# cat codecov.yml | curl --data-binary @- https://codecov.io/validate
fixes:
  - "empower/::"

coverage:
  status:
    project:
      default:
        informational: true
        target: 50%
    patch:
      react:
        informational: true
        target: 80%
        flags:
          - react
      flask:
        informational: true
        target: 50%
        flags:
          - flask

github_checks:
  annotations: true

comment:
  layout: "newheader, diff, flags, files"
  require_changes: false #if true: only post the comment if coverage changes
  require_base: false # [yes :: must have a base report to post]
  require_head: true # [yes :: must have a head report to post]
  show_carryforward_flags: true
  # show_critical_paths: true # affects labeled critical files -- leaving out for now
  hide_comment_details: true # collapse 'detailed info' for PR comment

flags:
  flask:
    carryforward: true
    paths:
      - flask
  react:
    carryforward: true
    paths:
      - react

remove not-working chatgpt test
  flask/src/test_db.py
Due: flask

attempt to add untested code
  flask/src/utils.py
Due: flask

[react] Node 16->18 (properly), @s/webpack-plugin 2.4.0->2.16.0
  react/app.yaml.template
  react/package-lock.json
  react/package.json
Due: react

[platf,react] fix double-upload of source maps, template-ize webpack config
  bin/sentry-release.sh
  deploy.sh
  react/build.sh
  react/config-overrides.js.template
Due: react

[react] Fix grouping by SE "supertag"
  react/src/index.js
Due: react

[platform] Limit Dependabot to security updates only
  .github/dependabot.yml
Due: none

Add user feedback widget
  react/src/index.js
Due: react

[react] fix Dockerfile for mock data
  react/Dockerfile
Due: react

attempt to enable INP
  react/package-lock.json
  react/package.json
  react/src/index.js
Due: react

nitfixes
  react/src/index.js
Due: react

alternate inp implementation?
  react/src/index.js
Due: react

[flask] update GAE Python 3.8 -> 3.12 to fix broken deploy after dependencies bump
  flask/app.yaml.template
Due: flask

[flask] fix for 'update GAE Python 3.8 -> 3.12'
  flask/requirements.txt
  flask/src/db.py
Due: flask

[platform] Upgrade Node 16 -> 18 in auto-deploy.yml
  .github/workflows/auto-deploy.yml
Due: none

update react readme with query param options
  react/README.md
Due: react

[react] Upgrade npm 8 -> 10 to fix CI
  react/package.json
Due: react

[platform] GitHub Actions workflow to deploy TDA
  .github/workflows/deploy_tda.yml
  tda/deploy_tda.sh
Due: none

Update react/README.md per review
  react/README.md
Due: react

Move query param data to main readme; replace Port notes
  README.md
  react/README.md
Due: react

reorder query params location in readme for better discoverability
  README.md
Due: none

Update react readme with query param options (#433)
  README.md
Due: none

Reattempt ignoregit status
  codecov.yml
Due: none

[platform] Change all GitHub Action names to match filename (yml)
  .github/workflows/auto-deploy.yml
  .github/workflows/cleanup_inactive_cloud_resources.yml
  .github/workflows/mock-data.yml
  .github/workflows/pr_review_reminder.yml
  .github/workflows/test.yml
Due: none

Add user feedback widget (#425)
  react/src/index.js
Due: react

[aspnetcore] capture request body
  aspnetcore/Program.cs
Due: none

Update auto-deploy.exclude
  auto-deploy.exclude
Due: none

experimenting w ignore
  codecov.yml
Due: none

Update README.md
  README.md
Due: none
