Repository sentry-demos/empower: changes, and which Codecov flags are due for each by the changed paths.
All: checkout_module, product_component

codecov.yml:

# cat codecov.yml | curl --data-binary @- https://codecov.io/validate
fixes:
  - "empower/::"

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        informational: true
        target: 35%
    patch:
      frontend:
        informational: true
        target: 80%
        flags:
          - frontend
      api:
        informational: true
        target: 50%
        flags:
          - api

github_checks:
  annotations: true

comment:
  layout: "newheader, diff, flags, components, files"
  require_changes: false # false :: posts comment regardless of whether coverage changes
  require_base: false # [false :: doesn't need a base report to post]
  require_head: true # [true :: must have a head report to post]
  show_carryforward_flags: true
  # show_critical_paths: true # affects labeled critical files -- leaving out for now
  hide_comment_details: true # collapse 'detailed info' for PR comment

flag_management:
  individual_flags:
    - name: api
      paths:
        - flask/
    - name: frontend
      paths:
        - react/
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: python_component
      name: checkout_module
      paths:
        - flask/src/**
    - component_id: js_component
      name: product_component
      paths:
        - react/src/components/**

# Vlad said--
# i just checked the file. the test_utils.py is purely a test file,
# just assertions and tests, so in theory it shouldn't be counted
# towards the overall coverage of the repo or "production code".
# i'm not sure why some tools include the tests as part of the coverage report,
# but it can be mitigated by excluding them via codecov.yaml or --source setting
# in the pytest, but the issue is that the test directory is also under the
# /src/  so it looks like it is instrumenting the code for all the python files
# in that location. this is not a big deal, but in case anyone asks this is why
# it is showing up.
ignore:
  - "flask/src/test/"

[flask-otlp] upgrade SDK -> 2.48.0 to fix parent_span in trace (#1132)
  flask-otlp/requirements.txt
Due: none

chore: update Checkout.jsx to refresh suspect commit tracking
  react/src/components/Checkout.jsx
Due: product_component

Fix error handling in Checkout component
  react/src/components/Checkout.jsx
Due: product_component

Update Checkout.jsx to refresh suspect commit tracking (#1133)
  react/src/components/Checkout.jsx
Due: product_component

Fix React Server Components CVE vulnerabilities
  next/package-lock.json
  next/package.json
Due: none

[react] fix processing error in flagship; +'flask-otlp' to preferred BE
  react/src/index.js
Due: none

[react] fix processing error in flagship; +'flask-otlp' to preferred BE (#1135)
  react/src/index.js
Due: none

Fix: Improve notAFunctionError to be more accurate
  angular/src/app/utils/errors.ts
  next/src/utils/errors.js
  react/src/utils/errors.js
  vue/src/views/ManualView.vue
Due: none

[next] fix ./deploy --local next
  .local.env.base
  _bin/validate_project.sh
  deploy
Due: none

[platform] automate DNS updates with CI (*.empower-plant.com)
  _dns/deploy_project.sh
  _dns/dispatch.yml
Due: none

[angular] Add missing Sentry tags for parity with React
  angular/src/main.ts
Due: none

[angular] Add missing Sentry tags for parity with React (#1138)
  angular/src/main.ts
Due: none

[angular] Add router instrumentation and fix distributed tracing
  angular/src/app/app.config.ts
  angular/src/app/components/checkout/checkout.component.ts
  angular/src/main.ts
Due: none

Refactor: Move cart quantity conversion before empty check
  flask/src/main.py
Due: checkout_module

[angular] Add router instrumentation and fix distributed tracing (#1139)
  angular/src/app/app.config.ts
  angular/src/app/components/checkout/checkout.component.ts
  angular/src/main.ts
Due: none

Fix: Initialize product_inventory as set and use product ID for lookup
  flask-otlp/src/main.py
  flask/src/main.py
Due: checkout_module

Fix: Handle large errnum and string errnum in crasher
  react/src/tests/Errors.test.js
  react/src/utils/errors.js
Due: none

Fix: Correct syntax error message in errors.js
  react/src/utils/errors.js
Due: none

fix(laravel): hook up `/enqueue` route to EmailController and add deliberate cache misses in ProductController
  laravel/_.env.template
  laravel/app/Http/Controllers/Api/EmailController.php
  laravel/app/Http/Controllers/Api/ProductController.php
  laravel/routes/web.php
Due: none

fix: update npm engine constraint and upgrade Next.js to 15.1.9 for React2Shell CVE
  next/package-lock.json
  next/package.json
Due: none

fix: update npm engine constraint and upgrade Next.js to 15.1.9 for React2Shell CVE (#1146)
  next/package-lock.json
  next/package.json
Due: none

Refactor: Move quantity conversion before cart validation
  flask/src/main.py
Due: checkout_module

fix(laravel): hook up `/enqueue` route to EmailController and add deliberate cache misses in ProductController (#1145)
  laravel/_.env.template
  laravel/app/Http/Controllers/Api/EmailController.php
  laravel/app/Http/Controllers/Api/ProductController.php
  laravel/routes/web.php
Due: none

Fix: Ensure cart quantities are integers before processing
  flask/src/main.py
Due: checkout_module

Fix: Ensure inventory is defined before checking inclusion
  react/src/components/ProductCard.jsx
Due: product_component

Add OPENAI_API_KEY to environment variables
  flask/_.env.template
Due: none

Refactor: Improve database connection pooling and resource management
  flask-otlp/src/db.py
  flask/src/db.py
Due: checkout_module

Refactor: Move quantity conversion before empty cart check
  flask/src/main.py
Due: checkout_module

Refactor: Check inventory with currentInventory < 0
  spring-boot-otlp/src/main/java/com/sentrydemos/springboot/AppController.java
Due: none

fix(tda): hook up laravel to be accessed by the tda for email subscription
  _tda/desktop_web/test_subscribe.py
Due: none

fix(tda): hook up laravel to be accessed by the tda for email subscription (#1154)
  _tda/desktop_web/test_subscribe.py
Due: none

fix(tda): enhance email subscription test with dynamic backend tagging
  _tda/desktop_web/test_subscribe.py
Due: none

fix(laravel): hooking up outbound requests for laravel
  laravel/_.env.template
  laravel/app/Http/Controllers/Api/ProductController.php
  laravel/routes/web.php
Due: none

fix(tda): enhance email subscription test with dynamic backend tagging (#1155)
  _tda/desktop_web/test_subscribe.py
Due: none

Fix UnboundLocalError in checkout endpoint
  flask/src/main.py
Due: checkout_module

Fix NameError in checkout endpoint by initializing quantities before use
  flask/src/main.py
Due: checkout_module

Fix: Move quantities assignment before validation check in /checkout endpoint
  flask/src/main.py
Due: checkout_module

[react] AI Agent Frontend v0
  react/src/assets/empower-agent.png
  react/src/components/ChatWidget.jsx
  react/src/components/Home.jsx
  react/src/components/chatWidget.css
  react/src/index.css
  react/src/index.js
Due: product_component

[react] AI Agent Frontend v0 (#1160)
  react/src/assets/empower-agent.png
  react/src/components/ChatWidget.jsx
  react/src/components/Home.jsx
  react/src/components/chatWidget.css
  react/src/index.css
  react/src/index.js
Due: product_component
