Repository sentry-demos/empower: changes, and which Codecov flags are due for each by the changed paths.
All: checkout_module, product_component

codecov.yml:

# cat codecov.yml | curl --data-binary @- https://codecov.io/validate
fixes:
  - "empower/::"

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        informational: true
        target: 35%
    patch:
      frontend:
        informational: true
        target: 80%
        flags:
          - frontend
      api:
        informational: true
        target: 50%
        flags:
          - api

github_checks:
  annotations: true

comment:
  layout: "newheader, diff, flags, components, files"
  require_changes: false # false :: posts comment regardless of whether coverage changes
  require_base: false # [false :: doesn't need a base report to post]
  require_head: true # [true :: must have a head report to post]
  show_carryforward_flags: true
  # show_critical_paths: true # affects labeled critical files -- leaving out for now
  hide_comment_details: true # collapse 'detailed info' for PR comment

flag_management:
  individual_flags:
    - name: api
      paths:
        - flask/
    - name: frontend
      paths:
        - react/
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: python_component
      name: checkout_module
      paths:
        - flask/src/**
    - component_id: js_component
      name: product_component
      paths:
        - react/src/components/**

# Vlad said--
# i just checked the file. the test_utils.py is purely a test file,
# just assertions and tests, so in theory it shouldn't be counted
# towards the overall coverage of the repo or "production code".
# i'm not sure why some tools include the tests as part of the coverage report,
# but it can be mitigated by excluding them via codecov.yaml or --source setting
# in the pytest, but the issue is that the test directory is also under the
# /src/  so it looks like it is instrumenting the code for all the python files
# in that location. this is not a big deal, but in case anyone asks this is why
# it is showing up.
ignore:
  - "flask/src/test/"

Fix UnboundLocalError: move quantities assignment before usage in checkout
  flask/src/main.py
Due: checkout_module

[react] make items_in_cart distribution instead of guage
  react/src/components/Cart.jsx
Due: product_component

[react] make items_in_cart distribution instead of guage (#1380)
  react/src/components/Cart.jsx
Due: product_component

Fix undefined variable causing 500 error in checkout
  laravel/app/Http/Controllers/Api/ProductController.php
Due: none

Fix NameError in /checkout endpoint - define quantities before use
  flask/src/main.py
Due: checkout_module

Fixes FRONTEND-REACT-6CS: Fix 500 error in checkout flow
  flask/src/main.py
  react/src/components/CheckoutForm.jsx
Due: checkout_module, product_component

Fix NameError in checkout endpoint by defining quantities before use
  flask/src/main.py
Due: checkout_module

[react] Use `distribution` for remaining metrics instead of `gauge`
  react/src/components/CheckoutForm.jsx
Due: product_component

resolving build issues and VITE env variable naming
  vue/_.env.template
  vue/package.json
  vue/serve.json
  vue/src/main.js
  vue/src/utils/backendrouter.js
Due: none

Fix slow DB query by eliminating N+1 pattern and TypeError in products endpoint
  flask/src/db.py
  flask/src/main.py
Due: checkout_module

[react] Use `distribution` for remaining metrics instead of `gauge` (#1389)
  react/src/components/CheckoutForm.jsx
Due: product_component

Fix UnboundLocalError in checkout endpoint
  flask/src/main.py
Due: checkout_module

feat(agent,react): instrument Sentry Conversations with gen_ai.conversation.id
  agent/app/api/routes.py
  agent/requirements.txt
  react/package.json
  react/src/components/ChatWidget.jsx
Due: product_component

temporarily disable codecov PR comments and status check to debug draft Cursor PRs resolving issues
  codecov.yml
Due: none

Revert "temporarily disable codecov PR comments and status check to debug draft Cursor PRs resolving issues"
  codecov.yml
Due: none

feat(agent,react): instrument Sentry Conversations with gen_ai.conversation.id (#1398)
  agent/app/api/routes.py
  agent/requirements.txt
  react/package.json
  react/src/components/ChatWidget.jsx
Due: product_component

[tda] update selector for 'Add to Cart' button in iOS
  _tda/mobile_native/ios/test_checkout_ios.py
Due: none

[tda] update selector for 'Add to Cart' button in iOS (#1407)
  _tda/mobile_native/ios/test_checkout_ios.py
Due: none

Add full Go config to production.env and staging.env, remove env-config/
  env-config/production.env
  env-config/staging.env
  production.env
  staging.env
Due: none

remove files from bad merge
  _tda/util/test_n.sh
  deploy.sh
  dispatch.yml
  react/validate_env.list
Due: none

fix env variable names
  go/app.yaml.template
Due: none

fix one more env variable
  go/README.md
  go/app.yaml.template
Due: none

Update react/src/utils/backendrouter.js
  react/src/utils/backendrouter.js
Due: none

add GO_ variables to .local.env.base
  .local.env.base
Due: none

fix local port env var
  .local.env.base
  go/cmd/server/main.go
  go/run_local.sh
Due: none

Go backend (#1089)
  .local.env.base
  _tda/util/test_n.sh
  go/.gcloudignore
  go/.gitignore
  go/README.md
  go/SENTRY_COMPARISON.md
  go/app.yaml.template
  go/build.sh
  go/cmd/server/main.go
  go/cmd/worker/main.go
  go/go.mod
  go/go.sum
  go/run_local.sh
  go/start.sh
  go/validate_env.list
  production.env
  react/_.env.template
  react/src/utils/backendrouter.js
  staging.env
Due: none

[platform] automate DNS updates with CI (*.empower-plant.com)
  _dns/deploy_project.sh
  _dns/dispatch.yml
Due: none

[platform] use a dedicated load balancer for subdomain routing
  .local.env.base
Due: none

[platform] standardize service names = domain = directory; use LB routing
  _dns/dispatch.yml
Due: none

[dns] get rid of dispatch.yml entirely
  _dns/dispatch.yml
Due: none

[mcp] copy code from obostjancic/empower-mcp as is
  mcp/Dockerfile
  mcp/README.md
  mcp/caller-script.ts
  mcp/consts.ts
  mcp/index.ts
  mcp/instrument.mjs
  mcp/package.json
  mcp/pnpm-lock.yaml
  mcp/prompts/new-plant-parent.ts
  mcp/prompts/plant-shopping-assistant.ts
  mcp/prompts/seasonal-care-guide.ts
  mcp/resources/plant-diagnostics.ts
  mcp/resources/plant-symptoms.ts
  mcp/resources/seasonal-calendar.ts
  mcp/tools/always-error.ts
  mcp/tools/checkout.ts
  mcp/tools/get-plant-care-guide.ts
  mcp/tools/get-products.ts
  mcp/tsconfig.json
  mcp/types.ts
  mcp/utils.ts
Due: none

[mcp] Integrate into empower VIP
  .gitignore
  _bin/ensure_docker.sh
  _dns/config.yaml.template
  agent/app/agents/manager_agent.py
  mcp/.gcloudignore
  mcp/Dockerfile
  mcp/_.env.template
  mcp/deploy_project.sh
  mcp/docker-compose.yml
  mcp/instrument.mjs
  mcp/package.json
  mcp/pnpm-lock.yaml
  mcp/run_local.sh
Due: none

[mcp] remove caller-script
  mcp/Dockerfile
  mcp/README.md
  mcp/caller-script.ts
  mcp/index.ts
  mcp/package.json
Due: none

[mcp] remove filler tools/resource, leave products + checkout
  .local.env.base
  mcp/index.ts
  mcp/instrument.mjs
  mcp/prompts/new-plant-parent.ts
  mcp/prompts/plant-shopping-assistant.ts
  mcp/prompts/seasonal-care-guide.ts
  mcp/resources/plant-diagnostics.ts
  mcp/resources/plant-symptoms.ts
  mcp/resources/products.ts
  mcp/resources/seasonal-calendar.ts
  mcp/tools/always-error.ts
  mcp/tools/checkout.ts
  mcp/tools/get-plant-care-guide.ts
  mcp/tools/get-products.ts
  mcp/types.ts
  production.env
  staging.env
Due: none

[agent] v1 VIP
  agent/_.env.template
  agent/app/agents/manager_agent.py
  agent/app/agents/plant_expert_agent.py
  agent/app/agents/question_generator.py
  agent/app/api/models.py
  agent/app/api/routes.py
  agent/app/question_store.py
  agent/app/tools/buy_plants.py
  agent/app/tools/plant_base_info.py
  agent/app/tools/plant_recommendations.py
  agent/requirements.txt
  mcp/index.ts
  mcp/package.json
  mcp/pnpm-lock.yaml
  mcp/resources/products.ts
  mcp/tools/checkout.ts
  mcp/utils.ts
  react/src/components/ChatWidget.jsx
  react/src/components/chatWidget.css
Due: product_component

Revert "Revert "fix(agent): use `Runner.run_streamed()` when running the agents""
  agent/app/agents/manager_agent.py
  agent/app/agents/question_generator.py
Due: none
