Repository sentry-demos/empower: changes, and which Codecov flags are due for each by the changed paths.
All: flask, react

codecov.yml:

# cat codecov.yml | curl --data-binary @- https://codecov.io/validate
fixes:
  - "empower/::"

coverage:
  status:
    project:
      default:
        informational: true
        target: 50%
    patch:
      react:
        informational: true
        target: 80%
        flags:
          - react
      flask:
        informational: true
        target: 50%
        flags:
          - flask

github_checks:
  annotations: true

comment:
  layout: "newheader, diff, flags, files"
  require_changes: false #if true: only post the comment if coverage changes
  require_base: false # [yes :: must have a base report to post]
  require_head: true # [yes :: must have a head report to post]
  show_carryforward_flags: true
  # show_critical_paths: true # affects labeled critical files -- leaving out for now
  hide_comment_details: true # collapse 'detailed info' for PR comment

flags:
  flask:
    carryforward: true
    paths:
      - flask
  react:
    carryforward: true
    paths:
      - react

Update README.md
  README.md
Due: none

more ignore..
  codecov.yml
Due: none

Update projects_changed_bw_commits.sh
  bin/projects_changed_bw_commits.sh
Due: none

Update auto-deploy.exclude
  auto-deploy.exclude
Due: none

bumps sentry react sdk to 7.108.0 and toggle enableInp to true
  react/package-lock.json
  react/package.json
  react/src/index.js
Due: react

bumps sentry react sdk to 7.108.0 and toggle enableInp to true (#442)
  react/package-lock.json
  react/package.json
  react/src/index.js
Due: react

codecov yml update
  codecov.yml
Due: none

bump node version to 18 to prevent failing gh action
  .github/workflows/run_codecov_on_pull_request.yml
Due: none

work to rule out incorrect ignore syntax
  codecov.yml
Due: none

Update .github/workflows/run_codecov_on_pull_request.yml
  .github/workflows/run_codecov_on_pull_request.yml
Due: none

try to rule out incorrect ignore syntax
  codecov.yml
Due: none

expand ignored files
  codecov.yml
Due: none

add laravel dir to ignore to see if test coverage affected
  codecov.yml
Due: none

ignore add'l react directories
  codecov.yml
Due: none

Revert "bumps sentry react sdk to 7.108.0 and toggle enableInp to true (#442)"
  react/package-lock.json
  react/package.json
  react/src/index.js
Due: react

Revert "bumps sentry react sdk to 7.108.0 and toggle enableInp to true (#442)" (#443)
  react/package-lock.json
  react/package.json
  react/src/index.js
Due: react

ignore more react code, all flask code
  codecov.yml
Due: none

genericize variable name (#397)
  tda/release_version_manager.py
Due: none

ignore auxiliary folders, unsure if this will make a difference
  codecov.yml
Due: none

[minor] Update README.md (#440)
  README.md
Due: none

remove most ignored dirs
  codecov.yml
Due: none

trigger rage click after checkout error
  react/src/components/CompleteError.js
  tda/desktop_web/test_checkout.py
Due: react

add react component names
  react/config-overrides.js.template
  react/src/components/About.jsx
  react/src/components/ButtonLink.jsx
  react/src/components/Cart.jsx
  react/src/components/Checkout.jsx
  react/src/components/Complete.jsx
  react/src/components/CompleteError.jsx
  react/src/components/Employee.jsx
  react/src/components/Footer.jsx
  react/src/components/Home.jsx
  react/src/components/Nav.jsx
  react/src/components/NotFound.jsx
  react/src/components/Product.jsx
  react/src/components/ProductCard.jsx
  react/src/components/Products.jsx
  react/src/components/ProductsJoin.jsx
  react/src/components/ScrollToTop.jsx
  react/src/components/nplusone.jsx
Due: react

rage click in TDA
  react/src/components/CompleteError.js
  tda/desktop_web/test_checkout.py
Due: react

add text to 'contact us' button
  react/src/components/CompleteError.js
Due: react

code comment explaining sleep time
  tda/desktop_web/test_checkout.py
Due: none

add query param to trigger rageclick, instead of error, on checkout button
  react/src/components/Checkout.js
  react/src/index.js
Due: react

move rage click functionality into new test
  tda/desktop_web/test_rageclick.py
Due: none

update readme with rageclick query param
  README.md
Due: none

add react component names (#448)
  react/config-overrides.js.template
  react/src/components/About.jsx
  react/src/components/ButtonLink.jsx
  react/src/components/Cart.jsx
  react/src/components/Checkout.jsx
  react/src/components/Complete.jsx
  react/src/components/CompleteError.jsx
  react/src/components/Employee.jsx
  react/src/components/Footer.jsx
  react/src/components/Home.jsx
  react/src/components/Nav.jsx
  react/src/components/NotFound.jsx
  react/src/components/Product.jsx
  react/src/components/ProductCard.jsx
  react/src/components/Products.jsx
  react/src/components/ProductsJoin.jsx
  react/src/components/ScrollToTop.jsx
  react/src/components/nplusone.jsx
Due: react

replace email selector for original checkout test, shouldnt need it but dont want it to break
  tda/desktop_web/test_checkout.py
Due: none

remove whitespace
  tda/desktop_web/test_rageclick.py
Due: none

Trigger rage click after checkout error (#447)
  README.md
  react/src/components/Checkout.jsx
  react/src/components/CompleteError.jsx
  react/src/index.js
  tda/desktop_web/test_rageclick.py
Due: react

Upload coverage reports for each flag separately
  .github/workflows/run_codecov_on_pull_request.yml
Due: none

fix copypaste error
  .github/workflows/run_codecov_on_pull_request.yml
Due: none

run tests and upload for each flag in one step
  .github/workflows/run_codecov_on_pull_request.yml
Due: none

remove ignore
  codecov.yml
Due: none

Codecov comments added on PR opens/changes (#414)
  .github/workflows/run_codecov_on_pull_request.yml
  codecov.yml
  flask/src/utils.py
Due: flask

Update README.md Setup instructions
  README.md
Due: none

Update README.md with User Feedback instructions
  README.md
Due: none
