Repository sentry-demos/empower: changes, and which Codecov flags are due for each by the changed paths.
All: checkout_module, product_component

codecov.yml:

# cat codecov.yml | curl --data-binary @- https://codecov.io/validate
fixes:
  - "empower/::"

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        informational: true
        target: 35%
    patch:
      frontend:
        informational: true
        target: 80%
        flags:
          - frontend
      api:
        informational: true
        target: 50%
        flags:
          - api

github_checks:
  annotations: true

comment:
  layout: "newheader, diff, flags, components, files"
  require_changes: false # false :: posts comment regardless of whether coverage changes
  require_base: false # [false :: doesn't need a base report to post]
  require_head: true # [true :: must have a head report to post]
  show_carryforward_flags: true
  # show_critical_paths: true # affects labeled critical files -- leaving out for now
  hide_comment_details: true # collapse 'detailed info' for PR comment

flag_management:
  individual_flags:
    - name: api
      paths:
        - flask/
    - name: frontend
      paths:
        - react/
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: python_component
      name: checkout_module
      paths:
        - flask/src/**
    - component_id: js_component
      name: product_component
      paths:
        - react/src/components/**

# Vlad said--
# i just checked the file. the test_utils.py is purely a test file,
# just assertions and tests, so in theory it shouldn't be counted
# towards the overall coverage of the repo or "production code".
# i'm not sure why some tools include the tests as part of the coverage report,
# but it can be mitigated by excluding them via codecov.yaml or --source setting
# in the pytest, but the issue is that the test directory is also under the
# /src/  so it looks like it is instrumenting the code for all the python files
# in that location. this is not a big deal, but in case anyone asks this is why
# it is showing up.
ignore:
  - "flask/src/test/"

docs: add AGENTS.md with repo-wide guidelines for AI agents
  AGENTS.md
Due: none

docs: refine AGENTS.md demo framing and gcloud auth guidance
  AGENTS.md
Due: none

docs: add testing-then-draft-PR flow and distributed-trace deploy guidance
  AGENTS.md
Due: none

docs: fold in relevant guidance from 'Empower: How to Contribute' Notion
  AGENTS.md
Due: none

docs: add top-of-file warning to never run projects directly (use ./deploy)
  AGENTS.md
Due: none

docs: note in-repo DB/DNS definitions and prefer short empower-plant.com URLs
  AGENTS.md
Due: none

docs: require a brief Testing section in every PR
  AGENTS.md
Due: none

docs: keep README in sync; don't casually change deploy system / _bin
  AGENTS.md
Due: none

docs: ask user for Sentry event/artifact links after manual testing
  AGENTS.md
Due: none

docs: emphasize 'connected' demo data in AGENTS.md intro
  AGENTS.md
Due: none

[react] clarify why pinned url deterministically beats httpContext
  react/src/utils/utils.js
Due: none

react: pin checkout 500 error to the page it happens on (#1606)
  react/src/components/CheckoutForm.jsx
  react/src/utils/utils.js
Due: product_component

backend: Fix 500 on checkout due to hardcoded inventory check
  spring-boot-otlp/src/main/java/com/sentrydemos/springboot/AppController.java
  spring-boot/src/main/java/com/sentrydemos/springboot/AppController.java
Due: none

Update README.md
  README.md
Due: none

fix(spring-boot): add missing static assets
  spring-boot/src/main/resources/static/compressed_assets/compressed_small_file.js
  spring-boot/src/main/resources/static/uncompressed_assets/uncompressed_big_file.js
Due: none

fix(flask): eliminate slow DB query in /products endpoint
  flask/src/main.py
Due: checkout_module

[aspnetcore] fix swapped StartChild args in ProductsJoinController
  aspnetcore/Controllers/ProductsJoinController.cs
Due: none

fix(flask): move quantities assignment before empty-cart guard
  flask/src/main.py
Due: checkout_module

Fix checkout inventory validation returning HTTP 500 instead of 4xx
  laravel/app/Http/Controllers/Api/ProductController.php
Due: none

flask: fix UnboundLocalError in checkout due to variable ordering
  flask/src/main.py
Due: checkout_module

fix(flask): Resolve UnboundLocalError in checkout handler
  flask/src/main.py
Due: checkout_module

Fix inventory check to prevent HTTP 500 on out-of-stock items
  react/src/components/CheckoutForm.jsx
  spring-boot-otlp/src/main/java/com/sentrydemos/springboot/AppController.java
Due: product_component

fix(flask-otlp): assign quantities before referencing it in checkout
  flask-otlp/src/main.py
Due: none

Fix UnboundLocalError: assign quantities before using it in checkout
  flask-otlp/src/main.py
  flask/src/main.py
Due: checkout_module

Fix UnboundLocalError by assigning quantities before use in checkout
  flask/src/main.py
Due: checkout_module

fix(spring-boot): add inventory guard to prevent checkout when stock is zero or negative
  spring-boot/src/main/java/com/sentrydemos/springboot/AppController.java
Due: none

flask: build quantities dict before the empty-cart check
  flask/src/main.py
Due: checkout_module

Fix UnboundLocalError in /checkout endpoint
  flask/src/main.py
Due: checkout_module

flask: fix UnboundLocalError for quantities in /checkout
  flask/src/main.py
Due: checkout_module

fix(agent): use chat completions API for OpenRouter
  agent/config.py
Due: none

fix(flask): Resolve UnboundLocalError in checkout function
  flask/src/main.py
Due: checkout_module

Fix UnboundLocalError in checkout endpoint
  flask-otlp/src/main.py
  flask/src/main.py
Due: checkout_module

Fix checkout inventory validation handling
  flask/src/main.py
  react/src/components/CheckoutForm.jsx
Due: checkout_module, product_component

laravel: fix checkout 500 due to inventory validation logic
  laravel/app/Http/Controllers/Api/ProductController.php
Due: none

flask: fix UnboundLocalError in /checkout empty-cart guard
  flask/src/main.py
Due: checkout_module

Fix inventory validation and prevent out-of-stock checkout errors
  flask/src/main.py
  react/src/actions/index.js
  react/src/actions/types.js
  react/src/components/CheckoutForm.jsx
  react/src/components/ProductCard.jsx
  react/src/components/Products.jsx
  react/src/reducers/index.js
Due: checkout_module, product_component

Fix UnboundLocalError in checkout inventory validation
  flask/src/main.py
Due: checkout_module

Fix UnboundLocalError in flask-otlp checkout as well
  flask-otlp/src/main.py
Due: none

Fix Laravel checkout endpoint to return 422 instead of 500 on inventory validation failure
  laravel/app/Http/Controllers/Api/ProductController.php
  laravel/tests/Feature/ProductApiTest.php
Due: none

updates
  react/src/components/Cart.jsx
  react/src/components/CheckoutForm.jsx
  react/src/components/Home.jsx
  react/src/components/Products.jsx
Due: product_component
