Repository sentry-demos/empower: changes, and which Codecov flags are due for each by the changed paths.
All: checkout_module, product_component

codecov.yml:

# cat codecov.yml | curl --data-binary @- https://codecov.io/validate
fixes:
  - "empower/::"

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        informational: true
        target: 35%
    patch:
      frontend:
        informational: true
        target: 80%
        flags:
          - frontend
      api:
        informational: true
        target: 50%
        flags:
          - api

github_checks:
  annotations: true

comment:
  layout: "newheader, diff, flags, components, files"
  require_changes: false # false :: posts comment regardless of whether coverage changes
  require_base: false # [false :: doesn't need a base report to post]
  require_head: true # [true :: must have a head report to post]
  show_carryforward_flags: true
  # show_critical_paths: true # affects labeled critical files -- leaving out for now
  hide_comment_details: true # collapse 'detailed info' for PR comment

flag_management:
  individual_flags:
    - name: api
      paths:
        - flask/
    - name: frontend
      paths:
        - react/
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: python_component
      name: checkout_module
      paths:
        - flask/src/**
    - component_id: js_component
      name: product_component
      paths:
        - react/src/components/**

# Vlad said--
# i just checked the file. the test_utils.py is purely a test file,
# just assertions and tests, so in theory it shouldn't be counted
# towards the overall coverage of the repo or "production code".
# i'm not sure why some tools include the tests as part of the coverage report,
# but it can be mitigated by excluding them via codecov.yaml or --source setting
# in the pytest, but the issue is that the test directory is also under the
# /src/  so it looks like it is instrumenting the code for all the python files
# in that location. this is not a big deal, but in case anyone asks this is why
# it is showing up.
ignore:
  - "flask/src/test/"

Fix JSON parsing error in /products-fes route
  react/src/components/Products.jsx
  react/src/index.js
Due: product_component

Fix inverted conditional logic in CheckoutForm error handling
  react/src/components/CheckoutForm.jsx
Due: product_component

Fix UnboundLocalError in checkout: initialize quantities before accessing it
  flask/src/main.py
Due: checkout_module

[flask-otlp] bypass sandbox mirror temporarily
  production.env
Due: none

Fix UnboundLocalError in checkout function
  flask/src/main.py
Due: checkout_module

[flask-otlp] bypass sandbox mirror temporarily (#1340)
  production.env
Due: none

[platform] cleanup_projects.yml: frontend- / backend- project prefixes
  .github/workflows/cleanup_projects.yml
Due: none

[platform] cleanup_projects.py: bump min excluded guardrail to 24
  _bin/cleanup_projects.py
Due: none

[platform] cleanup projects every 4 -> 2 hours
  .github/workflows/cleanup_projects.yml
Due: none

[platform] cleanup_projects.yml: frontend- / backend- project prefixes (#1341)
  .github/workflows/cleanup_projects.yml
  _bin/cleanup_projects.py
Due: none

Touch CheckoutForm.jsx for Suspect Commit
  react/src/components/CheckoutForm.jsx
Due: product_component

Fix NameError in checkout endpoint by defining quantities before use
  flask-otlp/src/main.py
  flask/src/main.py
Due: checkout_module

fix(laravel): rename index() to products() and always run slow profile
  laravel/app/Http/Controllers/Api/ProductController.php
  laravel/routes/api.php
  laravel/routes/web.php
Due: none

fix(laravel): rename index() to products() and always run slow profile (#1322)
  laravel/app/Http/Controllers/Api/ProductController.php
  laravel/routes/api.php
  laravel/routes/web.php
Due: none

fix: automatically rebuild excimer.so when not found
  laravel/build.sh
Due: none

Fix TypeError in /products endpoint when in_stock_only parameter is set
  flask/src/db.py
  flask/src/main.py
Due: checkout_module

Update github username in CODEOWNERS
  CODEOWNERS
Due: none

fix: add building of the excimer extension required for adding profiling (#1320)
  laravel/build-excimer.sh
  laravel/build.sh
  laravel/composer.json
  laravel/excimer.so
  laravel/php.ini
Due: none

fix(laravel): exclude ext-excimer from install in CI and update composer.lock
  laravel/build.sh
  laravel/composer.lock
Due: none

fix(laravel): exclude ext-excimer from install in CI and update composer.lock (#1348)
  laravel/build.sh
  laravel/composer.lock
Due: none

Fix checkout form error response handling
  flask/src/main.py
  react/src/components/CheckoutForm.jsx
Due: checkout_module, product_component

Respect validate_inventory parameter in checkout controller
  ruby-on-rails/app/controllers/api/v1/checkout_controller.rb
Due: none

Add tests for checkout inventory validation
  ruby-on-rails/test/controllers/checkout_controller_test.rb
Due: none

feat(flask): capture checkout.captured.revenue metric via Sentry SDK
  flask/src/main.py
Due: checkout_module

feat(flask): capture checkout.captured.revenue metric via Sentry
  flask/src/main.py
Due: checkout_module

feat(flask): capture checkout.captured.revenue metric via Sentry (#1355)
  flask/src/main.py
Due: checkout_module

Fix UnboundLocalError in checkout - define quantities before use
  flask/src/main.py
Due: checkout_module

Fix checkout form error handling logic - Fixes FRONTEND-REACT-6BN
  react/src/components/CheckoutForm.jsx
Due: product_component

Fix errnum type coercion issue by parsing query param as integer
  next/src/utils/errors.js
  react/src/utils/errors.js
Due: none

Fix inventory check logic to properly validate inventory levels
  spring-boot-otlp/src/main/java/com/sentrydemos/springboot/AppController.java
Due: none

Fix RangeError parameter validation
  react/src/tests/Errors.test.js
  react/src/utils/errors.js
Due: none

Fix query parameter type coercion in error number handling
  next/src/utils/errors.js
  react/src/utils/errors.js
Due: none

Fixes BACKEND-FLASK-F4: Fix TypeError when in_stock_only filter is enabled
  flask-otlp/src/db.py
  flask-otlp/src/main.py
  flask/src/db.py
  flask/src/main.py
Due: checkout_module

Fix array index out of bounds error in notAFunctionError
  react/src/utils/errors.js
Due: none

Fix products-join endpoint database schema mismatch - Fixes BACKEND-LARAVEL-P
  laravel/app/Http/Controllers/Api/ProductController.php
  laravel/database/factories/InventoryFactory.php
  laravel/database/factories/ReviewFactory.php
  laravel/database/migrations/2025_07_02_142339_create_reviews_table.php
  laravel/database/migrations/2025_07_02_142340_create_inventories_table.php
  laravel/routes/web.php
  laravel/tests/Feature/ProductApiTest.php
Due: none

Fix email queue error handling to return JSON instead of HTML
  laravel/app/Http/Controllers/Api/EmailController.php
  laravel/app/Jobs/SendEmail.php
Due: none

Update .gitignore
  .gitignore
Due: none

[flask,flask-otlp] fix local build
  flask-otlp/requirements.txt
  flask-otlp/run_local.sh
  flask-otlp/src/db.py
  flask/requirements.txt
  flask/run_local.sh
  flask/src/db.py
Due: checkout_module
