Repository sentry-demos/empower: changes, and which Codecov flags are due for each by the changed paths.
All: checkout_module, product_component

codecov.yml:

# cat codecov.yml | curl --data-binary @- https://codecov.io/validate
fixes:
  - "empower/::"

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        informational: true
        target: 35%
    patch:
      frontend:
        informational: true
        target: 80%
        flags:
          - frontend
      api:
        informational: true
        target: 50%
        flags:
          - api

github_checks:
  annotations: true

comment:
  layout: "newheader, diff, flags, components, files"
  require_changes: false # false :: posts comment regardless of whether coverage changes
  require_base: false # [false :: doesn't need a base report to post]
  require_head: true # [true :: must have a head report to post]
  show_carryforward_flags: true
  # show_critical_paths: true # affects labeled critical files -- leaving out for now
  hide_comment_details: true # collapse 'detailed info' for PR comment

flag_management:
  individual_flags:
    - name: api
      paths:
        - flask/
    - name: frontend
      paths:
        - react/
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: python_component
      name: checkout_module
      paths:
        - flask/src/**
    - component_id: js_component
      name: product_component
      paths:
        - react/src/components/**

# Vlad said--
# i just checked the file. the test_utils.py is purely a test file,
# just assertions and tests, so in theory it shouldn't be counted
# towards the overall coverage of the repo or "production code".
# i'm not sure why some tools include the tests as part of the coverage report,
# but it can be mitigated by excluding them via codecov.yaml or --source setting
# in the pytest, but the issue is that the test directory is also under the
# /src/  so it looks like it is instrumenting the code for all the python files
# in that location. this is not a big deal, but in case anyone asks this is why
# it is showing up.
ignore:
  - "flask/src/test/"

tda(android): target Android 15 and handle the profiling rate limiter
  _tda/conftest.py
Due: none

react: gate crasher() behind the `se` demo-traffic query param
  README.md
  react/src/tests/Errors.test.js
  react/src/utils/errors.js
Due: none

fix(flask): Prevent 500 on checkout due to unbound local error
  flask/src/main.py
Due: checkout_module

fix(flask): Prevent 500 on checkout due to UnboundLocalError
  flask/src/main.py
Due: checkout_module

fix: remove plant advice demo error injection
  agent/app/api/routes.py
  agent/app/tools/plant_base_info.py
  agent/app/utils.py
  react/src/components/ChatWidget.jsx
Due: product_component

fix(agent): route plant agents through OpenRouter (#1615)
  .local.env.base
  agent/README.md
  agent/_.env.template
  agent/app/agents/manager_agent.py
  agent/app/agents/plant_expert_agent.py
  agent/config.py
  agent/requirements.txt
  production.env
  staging.env
Due: none

fix(agent): Use explicit OpenRouter configuration
  agent/README.md
  agent/_.env.template
  agent/config.py
  agent/tests/test_config.py
Due: none

fix(agent): Use explicit OpenRouter configuration (#1639)
  agent/README.md
  agent/_.env.template
  agent/config.py
  agent/tests/test_config.py
Due: none

fix(laravel): build $quantities before checking if cart is empty
  laravel/app/Http/Controllers/Api/ProductController.php
Due: none

fix(laravel): Correct checkout quantities validation order
  laravel/app/Http/Controllers/Api/ProductController.php
Due: none

tda: add weekday and hourly seasonality to checkout volume
  _tda/conftest.py
  _tda/desktop_web/test_basic_checkout.py
  _tda/desktop_web/test_cexp_checkout.py
Due: none

tda: add weekday and hourly seasonality to checkout volume (#1642)
  _tda/conftest.py
  _tda/desktop_web/test_basic_checkout.py
  _tda/desktop_web/test_cexp_checkout.py
Due: none

tda: keep basic checkout at mean volume 1 with per-browser sampling
  _tda/conftest.py
  _tda/desktop_web/test_basic_checkout.py
Due: none

tda: keep basic checkout at mean volume 1 with per-browser sampling (#1643)
  _tda/conftest.py
  _tda/desktop_web/test_basic_checkout.py
Due: none

fix(flask): initialize quantities before empty-cart check in /checkout
  flask/src/main.py
Due: checkout_module

tda: run non-cexp tests on the opposite hour, raise timeout to 20m
  _tda/conftest.py
  _tda/desktop_web/test_ai_agent.py
  _tda/desktop_web/test_basic_checkout.py
  _tda/jobs/desktop_web.sh
Due: none

tda: run non-cexp tests on the opposite hour, raise timeout to 20m (#1645)
  _tda/conftest.py
  _tda/desktop_web/test_ai_agent.py
  _tda/desktop_web/test_basic_checkout.py
  _tda/jobs/desktop_web.sh
Due: none

laravel: populate $quantities before the empty-cart check in checkout
  laravel/app/Http/Controllers/Api/ProductController.php
Due: none

Fix checkout controller variable initialization order
  laravel/app/Http/Controllers/Api/ProductController.php
Due: none

fix(flask): Reorder quantities assignment in checkout endpoint
  flask/src/main.py
Due: checkout_module

Remove demo error injection flags that caused plant lookup failures
  agent/app/api/routes.py
  agent/app/tools/plant_base_info.py
Due: none

agent: add conversational shopping agent with SSE chat endpoint
  agent/_.env.template
  agent/app/agents/shopping_agent.py
  agent/app/api/chat_stream.py
  agent/app/api/models.py
  agent/app/api/routes.py
  agent/app/session.py
  agent/app/tools/shop/__init__.py
  agent/app/tools/shop/client.py
  agent/app/tools/shop/search_products.py
  agent/app/utils.py
  agent/docker-compose.yml
  agent/main.py
  agent/requirements.txt
Due: none

react: replace scripted chat widget with streaming conversational UI
  agent/app/api/chat_stream.py
  react/src/components/ChatError.jsx
  react/src/components/ChatPills.jsx
  react/src/components/ChatProductList.jsx
  react/src/components/ChatWidget.jsx
  react/src/components/chatWidget.css
  react/src/utils/sseStream.js
Due: product_component

agent+react: cart, checkout, coupon and purchase in the chat
  agent/app/agents/shopping_agent.py
  agent/app/api/chat_stream.py
  agent/app/session.py
  agent/app/tools/shop/__init__.py
  agent/app/tools/shop/cart.py
  agent/app/tools/shop/checkout.py
  agent/app/tools/shop/client.py
  agent/app/tools/shop/search_products.py
  react/src/components/ChatCart.jsx
  react/src/components/ChatCheckout.jsx
  react/src/components/ChatConfirmation.jsx
  react/src/components/ChatWidget.jsx
  react/src/components/chatWidget.css
Due: product_component

agent: one Sentry project per area of the agent
  agent/_.env.template
  agent/app/telemetry.py
  agent/app/tools/shop/cart.py
  agent/app/tools/shop/checkout.py
  agent/app/tools/shop/search_products.py
  agent/main.py
Due: none

agent: stop routed tool transactions duplicating the SDK's tool span
  agent/app/telemetry.py
Due: none

agent: split the chat flow into three agents
  agent/app/agents/checkout_agent.py
  agent/app/agents/product_agent.py
  agent/app/agents/shopping_agent.py
  agent/app/api/chat_stream.py
  agent/app/session.py
  agent/app/telemetry.py
  agent/app/tools/shop/cart.py
  agent/app/tools/shop/checkout.py
  agent/app/tools/shop/search_products.py
Due: none

tda: sample BATCH_SIZE from a clipped normal around 7–13
  _tda/conftest.py
  _tda/jobs/desktop_web.sh
Due: none

agent: pin reasoning effort to minimal so chat turns feel interactive
  agent/app/agents/checkout_agent.py
  agent/app/agents/product_agent.py
  agent/app/agents/shopping_agent.py
Due: none

agent: one explicit action per message, enforced rather than asked for
  agent/app/agents/checkout_agent.py
  agent/app/agents/product_agent.py
  agent/app/agents/shopping_agent.py
  agent/app/api/chat_stream.py
  agent/app/session.py
Due: none

_tda+react: cexp values for the conversational agent flow
  _tda/conftest.py
  react/src/index.js
Due: none

react: full-page conversation view for the agent, reached from the hero
  react/src/components/ChatPills.jsx
  react/src/components/ChatProductList.jsx
  react/src/components/ChatWidget.jsx
  react/src/components/Home.jsx
  react/src/components/chatWidget.css
  react/src/index.css
Due: product_component

_tda: drive the agent flow from the existing cexp segments
  _tda/conftest.py
  _tda/desktop_web/test_agent_cexp.py
  agent/app/tools/shop/checkout.py
  agent/app/tools/shop/search_products.py
  react/src/index.js
Due: none

agent: stop re-sending superseded tool JSON on every chat turn
  agent/app/api/chat_stream.py
  agent/app/session.py
  agent/tests/test_session.py
Due: none

agent+react: show which agent produced each answer
  agent/app/api/chat_stream.py
  agent/app/session.py
  agent/tests/test_chat_stream.py
  react/src/components/ChatWidget.jsx
  react/src/components/chatWidget.css
Due: product_component

agent: rename product_agent to products_agent
  agent/app/agents/products_agent.py
  agent/app/agents/shopping_agent.py
  agent/app/api/chat_stream.py
  agent/tests/test_chat_stream.py
  agent/tests/test_session.py
Due: none

agent: fail the execute_tool span when a shopping tool fails
  agent/app/agents/shopping_agent.py
  agent/app/session.py
  agent/app/telemetry.py
  agent/app/tools/shop/checkout.py
  agent/docker-compose.yml
  agent/tests/test_tool_errors.py
Due: none

fix(laravel): Reorder checkout inventory validation
  laravel/app/Http/Controllers/Api/ProductController.php
Due: none

agent: honour the plant failure flags on /chat
  agent/app/api/routes.py
  agent/tests/test_routes.py
Due: none

agent: give the chat orchestrator its own Sentry project
  agent/_.env.template
  agent/app/agents/shopping_agent.py
  agent/app/api/chat_stream.py
  agent/app/telemetry.py
Due: none
