Repository sentry-demos/empower: changes, and which Codecov flags are due for each by the changed paths.
All: checkout_module, product_component

fix: use URL.create() for local DB connection in flask to handle special chars in password
  flask/src/db.py
Due: checkout_module

fix: use URL.create() for local DB connection to handle special chars in password (#1498)
  flask-otlp/src/db.py
  flask/src/db.py
Due: checkout_module

feat(flask-otlp): support routing spans via local OTel collector
  flask-otlp/_.env.template
  flask-otlp/src/main.py
Due: none

chore: ignore otlp-collector/config.yaml to prevent auth token leaks
  .gitignore
Due: none

feat(flask-otlp): rename OTEL_COLLECTOR_URL to OTLPCOLLECTOR_URL
  flask-otlp/_.env.template
  flask-otlp/src/main.py
Due: none

feat(flask-otlp): make OTLPCOLLECTOR_URL optional
  flask-otlp/_.env.template
Due: none

feat(flask-otlp): add FLASKOTLP_USE_COLLECTOR flag to toggle OTel collector routing
  .local.env.base
  flask-otlp/_.env.template
  flask-otlp/src/main.py
  production.env
  staging.env
Due: none

rm newline
  production.env
Due: none

feat(flask-otlp): send OpenTelemetry logs directly to Sentry's OTLP logs endpoint
  flask-otlp/src/main.py
Due: none

feat(flask-otlp): set OTEL_SERVICE_NAME so collector routes to correct Sentry project
  flask-otlp/_.env.template
Due: none

add debug exporter
  otlp-collector/config.yaml.template
Due: none

Fix UnboundLocalError in checkout endpoint
  flask-otlp/src/main.py
  flask/src/main.py
Due: checkout_module

Fix TypeError when in_stock_only filter is used
  flask-otlp/src/main.py
  flask/src/main.py
Due: checkout_module

Fix UnboundLocalError in checkout endpoint
  flask-otlp/src/main.py
Due: none

Fix UnboundLocalError: move quantities assignment before empty-cart guard
  flask-otlp/src/main.py
  flask/src/main.py
Due: checkout_module

Fixes BACKEND-FLASK-5: Remove pg_sleep() and fix N+1 query pattern in get_products
  flask-otlp/src/db.py
  flask/src/db.py
Due: checkout_module

force error or slowdown when agent_crash is specified
  agent/app/api/routes.py
  agent/app/tools/plant_base_info.py
  agent/app/utils.py
  agent/main.py
  react/src/components/ChatWidget.jsx
Due: product_component

Update dependabot.yml to reduce PR noise
  .github/dependabot.yml
Due: none

cleanup_projects.yml: vue -> frontend-vue
  .github/workflows/cleanup_projects.yml
Due: none

close bot PRs CI job
  .github/workflows/close_bot_prs_except_label_example.yml
  _bin/close_bot_prs.py
Due: none

close bot PRs CI job (#1519)
  .github/workflows/close_bot_prs_except_label_example.yml
  _bin/close_bot_prs.py
Due: none

Delete codecov.yml
  codecov.yml
Due: none

Delete .github/workflows/run_codecov_on_pull_request.yml
  .github/workflows/run_codecov_on_pull_request.yml
Due: none

Delete .github/workflows/test.yml
  .github/workflows/test.yml
Due: none

Delete .github/workflows/pr_review_reminder.yml
  .github/workflows/pr_review_reminder.yml
Due: none

refactor(agent): address review - explicit error params, move randomness to TDA
  _tda/desktop_web/test_ai_agent.py
  agent/app/api/routes.py
  agent/app/tools/plant_base_info.py
  agent/app/utils.py
  react/src/components/ChatWidget.jsx
Due: product_component

Add demo-error query params + propagate se/user tags to agent spans (#1515)
  _tda/desktop_web/test_ai_agent.py
  agent/app/api/routes.py
  agent/app/tools/plant_base_info.py
  agent/app/utils.py
  agent/main.py
  react/src/components/ChatWidget.jsx
Due: product_component

fix: bump App Engine runtime from nodejs20 to nodejs22
  angular/app.yaml.template
  express/app.yaml.template
  react/app.yaml.template
Due: none

fix: bump node engines/volta from 20 to 22 in package.json
  angular/package.json
  express/package.json
  react/package.json
Due: none

Gate crasher() behind REACT_APP_ENABLE_CRASHER env flag
  .local.env.base
  production.env
  react/_.env.template
  react/src/tests/Errors.test.js
  react/src/utils/errors.js
  staging.env
Due: none

chore: sync angular package-lock engines to node 22
  angular/package-lock.json
Due: none

chore: sync react package-lock engines to node 22
  react/package-lock.json
Due: none

chore: sync express package-lock engines to node 22
  express/package-lock.json
Due: none

[close_bot_prs] fix arg name + add logging
  .github/workflows/close_bot_prs_except_label_example.yml
  _bin/close_bot_prs.py
Due: none

Close bot prs except label example (#1523)
  .github/workflows/close_bot_prs_except_label_example.yml
  _bin/close_bot_prs.py
Due: none

Update close_bot_prs_except_label_example.yml
  .github/workflows/close_bot_prs_except_label_example.yml
Due: none

fix: bump App Engine runtime from nodejs20 to nodejs22 (#1521)
  angular/app.yaml.template
  angular/package-lock.json
  angular/package.json
  express/app.yaml.template
  express/package-lock.json
  express/package.json
  react/app.yaml.template
  react/package-lock.json
  react/package.json
Due: none

Fix node version in CI to match earlier upgrade; cleanup Codecov tests in auto-deploy
  .github/workflows/auto-deploy.yml
Due: none

Fix node version in CI to match earlier upgrade; cleanup Codecov tests in auto-deploy (#1524)
  .github/workflows/auto-deploy.yml
Due: none

Path conditions:
  checkout_module: any of: flask/src/**, but not: flask/src/test/
  product_component: any of: react/src/components/**, but not: flask/src/test/
