Repository sentry-demos/empower: changes, and which Codecov flags are due for each by the changed paths.
All: checkout_module, product_component

codecov.yml:

# cat codecov.yml | curl --data-binary @- https://codecov.io/validate
fixes:
  - "empower/::"

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        informational: true
        target: 35%
    patch:
      frontend:
        informational: true
        target: 80%
        flags:
          - frontend
      api:
        informational: true
        target: 50%
        flags:
          - api

github_checks:
  annotations: true

comment:
  layout: "newheader, diff, flags, components, files"
  require_changes: false # false :: posts comment regardless of whether coverage changes
  require_base: false # [false :: doesn't need a base report to post]
  require_head: true # [true :: must have a head report to post]
  show_carryforward_flags: true
  # show_critical_paths: true # affects labeled critical files -- leaving out for now
  hide_comment_details: true # collapse 'detailed info' for PR comment

flag_management:
  individual_flags:
    - name: api
      paths:
        - flask/
    - name: frontend
      paths:
        - react/
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: python_component
      name: checkout_module
      paths:
        - flask/src/**
    - component_id: js_component
      name: product_component
      paths:
        - react/src/components/**

# Vlad said--
# i just checked the file. the test_utils.py is purely a test file,
# just assertions and tests, so in theory it shouldn't be counted
# towards the overall coverage of the repo or "production code".
# i'm not sure why some tools include the tests as part of the coverage report,
# but it can be mitigated by excluding them via codecov.yaml or --source setting
# in the pytest, but the issue is that the test directory is also under the
# /src/  so it looks like it is instrumenting the code for all the python files
# in that location. this is not a big deal, but in case anyone asks this is why
# it is showing up.
ignore:
  - "flask/src/test/"

use GCP auth token secret
  vue/vite.config.js
Due: none

add profiling headers to serve.json in build
  vue/build.sh
  vue/run.sh
Due: none

update README.md
  vue/README.md
Due: none

[tda] test_basic_checkout.py for NextJS
  tda/config.local.yaml
  tda/config.yaml
  tda/conftest.py
  tda/desktop_web/test_about_employees.py
  tda/desktop_web/test_about_employees_vue.py
  tda/desktop_web/test_basic_checkout.py
  tda/desktop_web/test_cexp_checkout.py
  tda/desktop_web/test_frontend_slowdown.py
  tda/desktop_web/test_homepage.py
  tda/desktop_web/test_homepage_vue.py
  tda/desktop_web/test_nplusone_api_call.py
  tda/desktop_web/test_organization.py
  tda/desktop_web/test_products_join.py
  tda/desktop_web/test_rageclick.py
  tda/desktop_web/test_subscribe.py
  tda/desktop_web/test_subscribe_vue.py
Due: none

Update production deployment URL in README
  next/README.md
Due: none

Improve local setup instructions in README
  next/README.md
Due: none

Update README with Vercel sign-in instructions
  next/README.md
Due: none

[next] don't pre-fill checkout form if TDA
  next/src/ui/checkout/CheckoutForm.jsx
  react/src/components/Checkout.jsx
Due: product_component

[tda,flutter] Add Flutter checkout test
  tda/conftest.py
  tda/mobile_native/android_flutter/test_checkout_flutter_android.py
Due: none

[tda] cleanup conftest
  tda/conftest.py
Due: none

:wrench: chore: bump node version
  next/package-lock.json
  next/package.json
Due: none

Trying to get Laravel 12 to deploy on staging
  laravel-12/.gcloudignore
  laravel-12/app.yaml.template
  laravel-12/bootstrap/app.php
  laravel-12/bootstrap/cache/.gitignore
  laravel-12/build.sh
  laravel-12/config/cache.php
  laravel-12/config/database.php
  laravel-12/config/logging.php
  laravel-12/config/mail.php
  laravel-12/config/sentry.php
  laravel-12/config/session.php
  laravel-12/run.sh
  laravel-12/storage/app/.gitignore
  laravel-12/storage/app/private/.gitignore
  laravel-12/storage/app/public/.gitignore
  laravel-12/storage/framework/.gitignore
  laravel-12/storage/framework/cache/.gitignore
  laravel-12/storage/framework/cache/data/.gitignore
  laravel-12/storage/framework/sessions/.gitignore
  laravel-12/storage/framework/testing/.gitignore
  laravel-12/storage/framework/views/.gitignore
  laravel-12/storage/logs/.gitignore
Due: none

feat(logging): enhance Flask logging with structured logging
  flask/requirements.txt
  flask/src/main.py
  flask/src/queues/email_subscribe.py
Due: checkout_module

refactor(logging): simplify checkout warning message
  flask/src/main.py
Due: checkout_module

feat(flask): enhance logging with structured format and Sentry integration
  flask/requirements.txt
  flask/src/main.py
  flask/src/queues/email_subscribe.py
Due: checkout_module

Remove log extras Remove deprecated sentry.metrics
  flask/src/main.py
Due: checkout_module

feat: add complete Mastra AI agent framework setup WIP: this only runs locally currently, need to decide how to integrate it
  mastra/.gitignore
  mastra/README.md
  mastra/package-lock.json
  mastra/package.json
  mastra/src/mastra/agents/plant-advisor-agent.ts
  mastra/src/mastra/agents/weather-agent.ts
  mastra/src/mastra/index.ts
  mastra/src/mastra/instrumentation.ts
  mastra/src/mastra/logger.ts
  mastra/src/mastra/tools/trefle-tool.ts
  mastra/src/mastra/tools/weather-tool.ts
  mastra/src/mastra/utils/wgsrpd-zones.ts
  mastra/src/mastra/workflows/weather-workflow.ts
  mastra/test-zones.js
  mastra/tsconfig.json
Due: none

feat(flask): enhance logging with structured format and Sentry integr… (#1007)
  flask/requirements.txt
  flask/src/main.py
  flask/src/queues/email_subscribe.py
Due: checkout_module

:wrench: chore: bump node version (#1009)
  next/package-lock.json
  next/package.json
Due: none

Update express server and database configuration
  express/db.js
  express/server.js
Due: none

add cart total in failed and succesful checkout
  react/src/components/Checkout.jsx
Due: product_component

Add cart total in failed checkouts (#1013)
  react/src/components/Checkout.jsx
Due: product_component

Trying to fix stuff in laravel 12
  laravel-12/app/Providers/AppEngineServiceProvider.php
  laravel-12/bootstrap/app.php
  laravel-12/bootstrap/app_engine.php
  laravel-12/config/database.php
Due: none

-- custom cmd, remove some junk, reorder vars in *.env
  deploy.sh
  local.env
  production.env
  staging.env
  tda/_.env.deploy.template
Due: none

update README, envsubst usage docs
  README.md
  bin/envsubst.sh
  deploy.sh
Due: none

a few small fixes, staging dsns, openai api key, flask redishost var
  deploy.sh
  flask/_.env.template
  flask/run_local.sh
  flask/src/main.py
  local.env
  next/run_local.sh
  production.env
  staging.env
Due: checkout_module

rename backend url variables
  aspnetcore/Controllers/ProductsController.cs
  aspnetcore/_.env.template
  bin/get_proj_var.sh
  bin/var_name.sh
  docker-compose.yml
  express/README.md
  express/_.env.template
  express/server.js
  flask/_.env.template
  flask/src/main.py
  flask/src/test/test_main.py
  local.env
  next/Dockerfile
  next/_.env.template
  next/src/tests/backendrouter.test.js
  next/src/utils/backendrouter.js
  production.env
  react/Dockerfile
  react/_.env.template
  react/src/tests/backendrouter.test.js
  react/src/utils/backendrouter.js
  spring-boot/README.md
  spring-boot/src/main/java/com/sentrydemos/springboot/AppController.java
  spring-boot/src/main/resources/application.properties.template
  staging.env
Due: checkout_module

--interpret-quotes and --strict-allow-quoted-empty
  bin/envsubst.sh
  deploy.sh
Due: none

move local port above the # -- line in local.env
  local.env
Due: none

fix spring-boot local build; allow run from subdir ../deploy.sh
  deploy.sh
  spring-boot/run_local.sh
Due: none

SENTRY_AUTH_TOKEN=${__ENV__}
  deploy.sh
  local.env
  production.env
  staging.env
Due: none

[tda] test_basic_checkout for NextJS (#999)
  next/src/ui/checkout/CheckoutForm.jsx
  react/src/components/Checkout.jsx
  tda/config.local.yaml
  tda/config.yaml
  tda/conftest.py
  tda/desktop_web/test_about_employees.py
  tda/desktop_web/test_about_employees_vue.py
  tda/desktop_web/test_basic_checkout.py
  tda/desktop_web/test_cexp_checkout.py
  tda/desktop_web/test_frontend_slowdown.py
  tda/desktop_web/test_homepage.py
  tda/desktop_web/test_homepage_vue.py
  tda/desktop_web/test_nplusone_api_call.py
  tda/desktop_web/test_organization.py
  tda/desktop_web/test_products_join.py
  tda/desktop_web/test_rageclick.py
  tda/desktop_web/test_subscribe.py
  tda/desktop_web/test_subscribe_vue.py
Due: product_component

[tda] add Flutter + cleanup (#1005)
  tda/conftest.py
  tda/mobile_native/android_flutter/test_checkout_flutter_android.py
Due: none

[platform] add 'flask-otlp', 'angular' to cleanp projects exclude list (#992)
  .github/workflows/cleanup_projects.yml
Due: none

fixes
  aspnetcore/_.env.template
  deploy.sh
  express/_.env.template
  flask/_.env.template
  flask/run_local.sh
  laravel/_.env.template
  local.env
  production.env
  react/src/index.js
  ruby-on-rails/_.env.template
  ruby-on-rails/app.yaml.template
  ruby-on-rails/config/database.yml
  ruby-on-rails/config/initializers/sentry.rb
  ruby-on-rails/config/puma.rb
  ruby-on-rails/test/test_helper.rb
  spring-boot/run_local.sh
  staging.env
Due: none

Update Spring Boot configuration and deployment scripts
  deploy.sh
  spring-boot/src/main/resources/application.properties.template
Due: none

Fix Sentry compatibility with Jakarta starter 8.18.0
  spring-boot/pom.xml
  spring-boot/src/main/java/com/sentrydemos/springboot/AppController.java
Due: none

Upgrade Spring Boot to 3.5.3 and Java to 21
  spring-boot/pom.xml
  spring-boot/src/main/java/com/sentrydemos/springboot/AppController.java
  spring-boot/src/main/java/com/sentrydemos/springboot/Application.java
  spring-boot/src/main/resources/application.properties.template
Due: none
