Repository sentry-demos/empower: changes, and which Codecov flags are due for each by the changed paths.
All: checkout_module, product_component

env: define the agent's per-area DSNs in every environment
  .local.env.base
  production.env
  staging.env
Due: none

env: point staging's agent DSNs at their own secrets
  staging.env
Due: none

agent+react: conversational shopping agent across three Sentry projects (#1653)
  .local.env.base
  _tda/conftest.py
  _tda/desktop_web/test_agent_cexp.py
  agent/_.env.template
  agent/app/agents/checkout_agent.py
  agent/app/agents/products_agent.py
  agent/app/agents/shopping_agent.py
  agent/app/api/chat_stream.py
  agent/app/api/models.py
  agent/app/api/routes.py
  agent/app/session.py
  agent/app/telemetry.py
  agent/app/tools/shop/__init__.py
  agent/app/tools/shop/cart.py
  agent/app/tools/shop/checkout.py
  agent/app/tools/shop/client.py
  agent/app/tools/shop/search_products.py
  agent/app/utils.py
  agent/docker-compose.yml
  agent/main.py
  agent/requirements.txt
  agent/tests/test_chat_stream.py
  agent/tests/test_routes.py
  agent/tests/test_session.py
  agent/tests/test_tool_errors.py
  production.env
  react/src/components/ChatCart.jsx
  react/src/components/ChatCheckout.jsx
  react/src/components/ChatConfirmation.jsx
  react/src/components/ChatError.jsx
  react/src/components/ChatPills.jsx
  react/src/components/ChatProductList.jsx
  react/src/components/ChatWidget.jsx
  react/src/components/Home.jsx
  react/src/components/chatWidget.css
  react/src/index.css
  react/src/index.js
  react/src/utils/sseStream.js
  staging.env
Due: product_component

Update cleanup_projects.yml with agent projects
  .github/workflows/cleanup_projects.yml
Due: none

Update cleanup_projects.yml with agent projects (#1655)
  .github/workflows/cleanup_projects.yml
Due: none

flask: fix UnboundLocalError in /checkout endpoint
  flask/src/main.py
Due: checkout_module

Increase test_agent_cexp telemtery volume by x3
  _tda/desktop_web/test_agent_cexp.py
Due: none

Update test_agent_cexp.py
  _tda/desktop_web/test_agent_cexp.py
Due: none

Increase test_agent_cexp telemtery volume by x3 (#1658)
  _tda/desktop_web/test_agent_cexp.py
Due: none

fix(flask-otlp): Prevent 500 from UnboundLocalError in checkout
  flask-otlp/src/main.py
Due: none

fix(flask): checkout 500 due to quantities assignment order
  flask/src/main.py
Due: checkout_module

Fix checkout 500 by building $quantities before empty check
  laravel/app/Http/Controllers/Api/ProductController.php
Due: none

flask: assign quantities before empty-cart check in /checkout
  flask/src/main.py
Due: checkout_module

Fix UnboundLocalError in checkout endpoint
  flask/src/main.py
Due: checkout_module

Path conditions:
  checkout_module: any of: flask/src/**, but not: flask/src/test/
  product_component: any of: react/src/components/**, but not: flask/src/test/
