Repository sentry-demos/empower: changes, and which Codecov flags are due for each by the changed paths.
All: checkout_module, product_component

Add cart validation
  react/src/components/Checkout.jsx
Due: product_component

Add category logging
  react/src/components/Products.jsx
Due: product_component

Add discount calc
  flask/src/main.py
Due: checkout_module

[agent] Reduce tokens usage down to previous rate (#1198)
  _tda/desktop_web/test_ai_agent.py
Due: none

[tda] fix local _tda deploy; CI manual deploy 1 project" (#1171)
  .github/workflows/auto-deploy.yml
  _tda/deploy_project.sh
Due: none

[agent] fix env when deploying to Cloud Run (#1172)
  agent/.gcloudignore
  agent/_.env.template
  agent/config.py
  agent/deploy_project.sh
Due: none

Add product category logging for analytics
  react/src/components/Products.jsx
Due: product_component

Add category badges to product tiles
  react/src/components/Products.jsx
Due: product_component

Add category badges
  react/src/components/Products.jsx
Due: product_component

Bump remaining Angular packages to 20.3.16 in /angular
  angular/package-lock.json
  angular/package.json
Due: none

Fix UnboundLocalError in checkout - assign quantities before use
  flask/src/main.py
Due: checkout_module

Fix UnboundLocalError in checkout endpoint
  flask/src/main.py
Due: checkout_module

Add category badges to product tiles
  react/src/components/ProductCard.jsx
  react/src/components/Products.jsx
  react/src/components/products.css
Due: product_component

[agent] SDK -> 2.51.0 to get time_to_first_token
  agent/requirements.txt
Due: none

[agent] SDK -> 2.51.0 to get time_to_first_token (#1237)
  agent/requirements.txt
Due: none

Add perormance issue (N+1 query)
  react/src/components/ProductCard.jsx
  react/src/components/Products.jsx
Due: product_component

[tda] Investigation: code to test clock drift
  _tda/desktop_web/test_clock_drift.py
Due: none

[agent] remove ApiTester / jobs.py
  agent/app/jobs.py
  agent/requirements.txt
Due: none

Fix UnboundLocalError in checkout inventory validation
  flask/src/main.py
Due: checkout_module

[rails] fix Gemfile after dependabot bump
  ruby-on-rails/Gemfile.lock
Due: none

[rails] fix Gemfile after dependabot bump - attempt 2
  ruby-on-rails/Gemfile
  ruby-on-rails/Gemfile.lock
Due: none

[rails] fix Gemfile after dependabot bump - attempt 2 (#1254)
  ruby-on-rails/Gemfile
  ruby-on-rails/Gemfile.lock
Due: none

[rails] attempt to fix Gemfile after dependabot merge - attempt 3
  ruby-on-rails/Gemfile
  ruby-on-rails/Gemfile.lock
Due: none

[rails] attempt to fix Gemfile after dependabot merge - attempt 3 (#1256)
  ruby-on-rails/Gemfile
  ruby-on-rails/Gemfile.lock
Due: none

fix(agent): use `Runner.run_streamed()` when running the agents
  agent/app/agents/manager_agent.py
  agent/app/agents/plant_expert_agent.py
Due: none

fix(agent): use `Runner.run_streamed()` when running the agents (#1257)
  agent/app/agents/manager_agent.py
  agent/app/agents/plant_expert_agent.py
Due: none

Path conditions:
  checkout_module: any of: flask/src/**, but not: flask/src/test/
  product_component: any of: react/src/components/**, but not: flask/src/test/
