Repository sentry-demos/empower: changes, and which Codecov flags are due for each by the changed paths.
All: checkout_module, product_component

fix(laravel): hooking up outbound requests for laravel (#1156)
  laravel/_.env.template
  laravel/app/Http/Controllers/Api/ProductController.php
  laravel/routes/web.php
Due: none

[agent] fix env when deploying to Cloud Run
  agent/.gcloudignore
  agent/_.env.template
  agent/config.py
  agent/deploy_project.sh
Due: none

fix
  agent/.gcloudignore
  agent/config.py
Due: none

Fix UnboundLocalError in checkout: move quantities assignment before usage
  flask/src/main.py
Due: checkout_module

Fix UnboundLocalError in checkout: define quantities before use
  flask/src/main.py
Due: checkout_module

Fix UnboundLocalError in checkout function by moving quantities assignment before validation
  flask/src/main.py
Due: checkout_module

Add product search endpoint
  flask/src/db.py
  flask/src/main.py
Due: checkout_module

Add effective discount rate calculation to promo code endpoint
  flask/src/main.py
Due: checkout_module

Add cart empty validation before checkout
  react/src/components/Checkout.jsx
Due: product_component

Add product category logging for analytics
  react/src/components/Products.jsx
Due: product_component

Add effective discount rate calculation
  flask/src/main.py
Due: checkout_module

Add cart empty validation
  react/src/components/Checkout.jsx
Due: product_component

Add category logging
  react/src/components/Products.jsx
Due: product_component

[agent] Reduce tokens usage down to previous rate
  _tda/desktop_web/test_ai_agent.py
Due: none

Add discount calc
  flask/src/main.py
Due: checkout_module

Add cart validation
  react/src/components/Checkout.jsx
Due: product_component

Path conditions:
  checkout_module: any of: flask/src/**, but not: flask/src/test/
  product_component: any of: react/src/components/**, but not: flask/src/test/
