Repository sentry-demos/empower: changes, and which Codecov flags are due for each by the changed paths.
All: checkout_module, product_component

codecov.yml:

# cat codecov.yml | curl --data-binary @- https://codecov.io/validate
fixes:
  - "empower/::"

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        informational: true
        target: 35%
    patch:
      frontend:
        informational: true
        target: 80%
        flags:
          - frontend
      api:
        informational: true
        target: 50%
        flags:
          - api

github_checks:
  annotations: true

comment:
  layout: "newheader, diff, flags, components, files"
  require_changes: false # false :: posts comment regardless of whether coverage changes
  require_base: false # [false :: doesn't need a base report to post]
  require_head: true # [true :: must have a head report to post]
  show_carryforward_flags: true
  # show_critical_paths: true # affects labeled critical files -- leaving out for now
  hide_comment_details: true # collapse 'detailed info' for PR comment

flag_management:
  individual_flags:
    - name: api
      paths:
        - flask/
    - name: frontend
      paths:
        - react/
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: python_component
      name: checkout_module
      paths:
        - flask/src/**
    - component_id: js_component
      name: product_component
      paths:
        - react/src/components/**

# Vlad said--
# i just checked the file. the test_utils.py is purely a test file,
# just assertions and tests, so in theory it shouldn't be counted
# towards the overall coverage of the repo or "production code".
# i'm not sure why some tools include the tests as part of the coverage report,
# but it can be mitigated by excluding them via codecov.yaml or --source setting
# in the pytest, but the issue is that the test directory is also under the
# /src/  so it looks like it is instrumenting the code for all the python files
# in that location. this is not a big deal, but in case anyone asks this is why
# it is showing up.
ignore:
  - "flask/src/test/"

feat(aspnetcore): custom issue fingerprinter for Flask/React parity
  aspnetcore/IssueFingerprinter.cs
Due: none

[aspnetcore] bump Sentry packages and embed debug symbols
  aspnetcore/Empower.Backend.csproj
Due: none

feat(aspnetcore): SDK-level PII scrubbing
  aspnetcore/PiiScrubber.cs
Due: none

docs(aspnetcore): manual local-setup, endpoint reference, PII handling
  aspnetcore/README.md
Due: none

[aspnetcore] richer /checkout trace — spans, breadcrumbs, cart context
  aspnetcore/Controllers/CheckoutController.cs
Due: none

fix: horizontal positioning
  react/src/components/CheckoutForm.jsx
Due: product_component

Fix UnboundLocalError in checkout endpoint by assigning quantities before use
  flask/src/main.py
Due: checkout_module

fix: horizontal positioning (#1461)
  react/src/components/CheckoutForm.jsx
Due: product_component

Update test_uncaughtthrownerror_react_native_ios.py
  _tda/mobile_native/ios_react_native/test_uncaughtthrownerror_react_native_ios.py
Due: none

Fix checkout endpoint returning 500 on inventory validation failure
  laravel/app/Http/Controllers/Api/ProductController.php
Due: none

Fix checkout controller inventory validation bug
  laravel/app/Http/Controllers/Api/ProductController.php
Due: none

Fix UnboundLocalError in checkout endpoint - Fixes FRONTEND-REACT-6CY
  flask/src/main.py
Due: checkout_module

Fix UnboundLocalError in checkout endpoint by moving quantities assignment before read
  flask/src/main.py
Due: checkout_module

Update test_checkout_react_native_ios.py
  _tda/mobile_native/ios_react_native/test_checkout_react_native_ios.py
Due: none

Update test_checkout_react_native_android.py
  _tda/mobile_native/android_react_native/test_checkout_react_native_android.py
Due: none

Fix premature empty check on $quantities in checkout
  laravel/app/Http/Controllers/Api/ProductController.php
Due: none

feat: update RN TDA to apply promo code (#1471)
  _tda/mobile_native/android_react_native/test_checkout_react_native_android.py
  _tda/mobile_native/ios_react_native/test_checkout_react_native_ios.py
Due: none

Fix checkout inventory check to query actual inventory data
  ruby-on-rails/app/controllers/api/v1/checkout_controller.rb
Due: none

Add /compressed_assets/ and /uncompressed_assets/ routes to Spring Boot backends
  spring-boot-otlp/src/main/java/com/sentrydemos/springboot/AppController.java
  spring-boot/src/main/java/com/sentrydemos/springboot/AppController.java
Due: none

Add integration tests for asset-serving endpoints
  spring-boot-otlp/src/test/java/AppControllerTest.java
  spring-boot/src/test/java/AppControllerTest.java
Due: none

Add missing imports, ResourceLoader, and complete asset-serving endpoints
  spring-boot-otlp/src/main/java/com/sentrydemos/springboot/AppController.java
  spring-boot/src/main/java/com/sentrydemos/springboot/AppController.java
Due: none

Add required imports and ResourceLoader field for asset endpoints
  spring-boot-otlp/src/main/java/com/sentrydemos/springboot/AppController.java
  spring-boot/src/main/java/com/sentrydemos/springboot/AppController.java
Due: none

point TDA vue_endpoint at vue.empower-plant.com
  _tda/config.yaml
Due: none

add VITE_*_BACKEND_URL to production.env, unify staging to ${*_URL}
  production.env
  staging.env
Due: none

fix vue deploy: correct sentry env var and bump App Engine runtime
  vue/app.yaml.template
  vue/build.sh
Due: none

Fix UnboundLocalError: assign quantities before length check
  flask-otlp/src/main.py
  flask/src/main.py
Due: checkout_module

Fix checkout returning HTTP 500 for out-of-stock items
  spring-boot-otlp/src/main/java/com/sentrydemos/springboot/AppController.java
  spring-boot/src/main/java/com/sentrydemos/springboot/AppController.java
Due: none

Fix N+1 API calls in Nplusone component with single batched request
  react/src/components/nplusone.jsx
Due: product_component

fix: implement CheckoutController with inventory validation
  aspnetcore/Controllers/CheckoutController.cs
Due: none

Local setup fixes for Will's machine
  .gitignore
  flask/src/db.py
  react/config-overrides.js.template
Due: checkout_module

[demo-refresh] Add demo refresh changes to vue (#994)
  .local.env.base
  _dns/config.yaml.template
  _tda/config.yaml
  _tda/desktop_web/test_basic_checkout.py
  production.env
  staging.env
  vue/README.md
  vue/_.env.template
  vue/app.yaml.template
  vue/build.sh
  vue/package-lock.json
  vue/package.json
  vue/serve.json
  vue/src/App.vue
  vue/src/components/ProductSummary.vue
  vue/src/main.js
  vue/src/router/index.js
  vue/src/utils/backendrouter.js
  vue/src/utils/experiments.js
  vue/src/views/AboutView.vue
  vue/src/views/CartView.vue
  vue/src/views/CheckoutView.vue
  vue/src/views/ProductsView.vue
  vue/vite.config.js
Due: none

Fix UnboundLocalError: assign quantities before empty-cart guard
  flask-otlp/src/main.py
  flask/src/main.py
Due: checkout_module

Fix UnboundLocalError: assign quantities before reading it
  flask-otlp/src/main.py
Due: none

[aspnetcore] expand SKU demo coverage + finish Flask parity
  aspnetcore/AppMiddleware.cs
  aspnetcore/CheckInHostedService.cs
  aspnetcore/Controllers/CronController.cs
  aspnetcore/Controllers/DemoController.cs
  aspnetcore/Controllers/EnqueueController.cs
  aspnetcore/Controllers/FeedbackController.cs
  aspnetcore/Controllers/ProductsN1Controller.cs
  aspnetcore/EmailQueue.cs
  aspnetcore/EmailWorkerHostedService.cs
  aspnetcore/GlobalUsings.cs
  aspnetcore/Program.cs
  aspnetcore/README.md
Due: none

[go,crons-python] propagate sentry-trace + baggage on outbound HTTP
  crons-python/main.py
  go/cmd/server/main.go
Due: none

Fix checkout cart validation - initialize quantities before checking
  laravel/app/Http/Controllers/Api/ProductController.php
Due: none

Add comprehensive checkout tests
  laravel/tests/Feature/ProductApiTest.php
Due: none

add user and se tags to agent repo
  agent/main.py
Due: none

add user and se tags to agent repo (#1497)
  agent/main.py
Due: none

fix: use URL.create() for local DB connection to handle special chars in password
  flask-otlp/src/db.py
Due: none
