Repository sentry-demos/empower: changes, and which Codecov flags are due for each by the changed paths.
All: checkout_module, product_component

codecov.yml:

# cat codecov.yml | curl --data-binary @- https://codecov.io/validate
fixes:
  - "empower/::"

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        informational: true
        target: 35%
    patch:
      frontend:
        informational: true
        target: 80%
        flags:
          - frontend
      api:
        informational: true
        target: 50%
        flags:
          - api

github_checks:
  annotations: true

comment:
  layout: "newheader, diff, flags, components, files"
  require_changes: false # false :: posts comment regardless of whether coverage changes
  require_base: false # [false :: doesn't need a base report to post]
  require_head: true # [true :: must have a head report to post]
  show_carryforward_flags: true
  # show_critical_paths: true # affects labeled critical files -- leaving out for now
  hide_comment_details: true # collapse 'detailed info' for PR comment

flag_management:
  individual_flags:
    - name: api
      paths:
        - flask/
    - name: frontend
      paths:
        - react/
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: python_component
      name: checkout_module
      paths:
        - flask/src/**
    - component_id: js_component
      name: product_component
      paths:
        - react/src/components/**

# Vlad said--
# i just checked the file. the test_utils.py is purely a test file,
# just assertions and tests, so in theory it shouldn't be counted
# towards the overall coverage of the repo or "production code".
# i'm not sure why some tools include the tests as part of the coverage report,
# but it can be mitigated by excluding them via codecov.yaml or --source setting
# in the pytest, but the issue is that the test directory is also under the
# /src/  so it looks like it is instrumenting the code for all the python files
# in that location. this is not a big deal, but in case anyone asks this is why
# it is showing up.
ignore:
  - "flask/src/test/"

Reapply "[tda] increase number of threads 8 -> 16 (#833)" (#837) (#838)
  tda/jobs/desktop_web.sh
  tda/jobs/mobile_native.sh
Due: none

[platform] cleanup_projects guardrail - stop counting attachment bytes as events (#800)
  bin/cleanup_projects.py
Due: none

use ubuntu-latest instead of ubuntu-20.04 which is EOL
  .github/workflows/run_codecov_on_pull_request.yml
Due: none

use ubuntu-22.04
  .github/workflows/run_codecov_on_pull_request.yml
Due: none

fix path to envsubst.sh
  react/build.sh
Due: none

use ../bin/envsubst.sh in next build.sh
  next/build.sh
Due: none

use ubuntu-22.04 for cc pr action and ../bin/envsubst.sh() in react+next build.sh (#840)
  .github/workflows/run_codecov_on_pull_request.yml
  next/build.sh
  react/build.sh
Due: none

fix(tda): Fix android tda scripts
  tda/conftest.py
  tda/mobile_native/android/test_anr_android.py
  tda/mobile_native/android/test_checkout_android.py
  tda/mobile_native/android/test_handlederror_android.py
  tda/mobile_native/android/test_httperror_android.py
  tda/mobile_native/android/test_nativecrash_android.py
  tda/mobile_native/android/test_nativemessage_android.py
  tda/mobile_native/android/test_unhandlederror2_android.py
  tda/mobile_native/android/test_unhandlederror_android.py
Due: none

Fix ANR test, run on android 14
  tda/conftest.py
  tda/mobile_native/android/test_anr_android.py
  tda/mobile_native/android/test_nativecrash_android.py
  tda/mobile_native/android/test_unhandlederror2_android.py
  tda/mobile_native/android/test_unhandlederror_android.py
Due: none

Use Appium 2.0, fix ios test, add sleep to rn_ios tests
  tda/conftest.py
  tda/mobile_native/android_react_native/test_nativecrash_react_native_android.py
  tda/mobile_native/android_react_native/test_uncaughtthrownerror_react_native_android.py
  tda/mobile_native/ios/test_error_list_ios.py
  tda/mobile_native/ios_react_native/test_captureexception_react_native_ios.py
  tda/mobile_native/ios_react_native/test_capturemessage_react_native_ios.py
  tda/mobile_native/ios_react_native/test_checkout_react_native_ios.py
  tda/mobile_native/ios_react_native/test_nativecrash_react_native_ios.py
  tda/mobile_native/ios_react_native/test_uncaughtthrownerror_react_native_ios.py
  tda/mobile_native/ios_react_native/test_unhandledpromiserejection_react_native_ios.py
Due: none

`throw err` -> `throw error` (#835)
  express/db.js
Due: none

Add `get_subscription_plan(type)`
  flask/src/utils.py
Due: checkout_module

Enable Sentry logs for react
  react/package-lock.json
  react/package.json
  react/src/index.js
Due: none

aspnetcore disable blocking detection
  aspnetcore/Program.cs
Due: none

aspnetcore disable blocking detection (#851)
  aspnetcore/Program.cs
Due: none

Enable Sentry logs for react (#849)
  react/package-lock.json
  react/package.json
  react/src/index.js
Due: none

Add logs to flask - Migrate print to logs.info
  .gitignore
  flask/requirements.txt
  flask/src/main.py
  flask/src/queues/email_subscribe.py
  flask/src/queues/tasks.py
Due: checkout_module

Add logs to flask (#852)
  .gitignore
  flask/requirements.txt
  flask/src/main.py
  flask/src/queues/email_subscribe.py
  flask/src/queues/tasks.py
Due: checkout_module

Fix sql vuln - tested flow in staging
  flask/src/db.py
Due: checkout_module

[flask] autofixable flagship error - AttributeError
  flask/src/db.py
  flask/src/main.py
Due: checkout_module

[flask] autofixable flagship error
  flask/src/db.py
  flask/src/main.py
Due: checkout_module

[flask,seer] used chained exceptions for realistic autofixable error
  flask/src/main.py
Due: checkout_module

Fix sql vuln (#855)
  flask/src/db.py
Due: checkout_module

Set project id for flask deployment - project_id isn't specified locally causing tunnel to not setup correctly - staging/prod project_id isn't required as we are already in that project
  deploy.sh
Due: none

[flask,seer] autofixable err: don't create empty span when cexp=checkout_success
  flask/src/main.py
Due: checkout_module

removed metrics call from checkout form
  next/src/ui/checkout/CheckoutForm.jsx
Due: none

Update location to be after env import
  deploy.sh
Due: none

removed metrics call from checkout form (#868)
  next/src/ui/checkout/CheckoutForm.jsx
Due: none

Convert productIds to ints
  flask/src/db.py
Due: checkout_module

add logging
  flask/src/db.py
Due: checkout_module

Cast string productIds to ints + logging (#869)
  flask/src/db.py
Due: checkout_module

[tda,react] Chrome with Firefox user-agent instead of actual Firefox
  tda/config.yaml
  tda/conftest.py
Due: none

Update tda/mobile_native/android/test_checkout_android.py
  tda/mobile_native/android/test_checkout_android.py
Due: none

Set project id for flask deployment (#864)
  deploy.sh
Due: none

[tda,react] Chrome with Firefox user-agent instead of actual Firefox (#870)
  tda/config.yaml
  tda/conftest.py
Due: none

[flask, seer] autofixable flagship error - UnboundLocalError - OPTION 2 [chained] (#858)
  flask/src/db.py
  flask/src/main.py
Due: checkout_module

fix(tda): Fix android tda scripts (#842)
  tda/conftest.py
  tda/mobile_native/android/test_anr_android.py
  tda/mobile_native/android/test_checkout_android.py
  tda/mobile_native/android/test_handlederror_android.py
  tda/mobile_native/android/test_httperror_android.py
  tda/mobile_native/android/test_nativecrash_android.py
  tda/mobile_native/android/test_nativemessage_android.py
  tda/mobile_native/android/test_unhandlederror2_android.py
  tda/mobile_native/android/test_unhandlederror_android.py
Due: none

[react] only split fingerprint by SE/Release for 5xx errors
  react/src/index.js
Due: none

[react,flask,aspnetcore] attach CORS headers to HTTP 500, better FE handling
  aspnetcore/Program.cs
  flask/src/main.py
  react/src/components/Checkout.jsx
Due: checkout_module, product_component
