Repository sentry-demos/empower: changes, and which Codecov flags are due for each by the changed paths.
All: checkout_module, product_component

testing vercel deployment
  .vercelignore
  package-lock.json
  package.json
  react/src/components/About.jsx
Due: product_component

testing vercel deployment
  .vercelignore
  react/src/components/About.jsx
Due: product_component

testing vercel deployment
  .vercelignore
  next/package.json
  react/package.json
  react/src/components/About.jsx
Due: product_component

generate junit.xml for react tests
  .github/workflows/auto-deploy.yml
  .github/workflows/run_codecov_on_pull_request.yml
Due: none

add jest-junit as dev-dependency
  react/package-lock.json
  react/package.json
Due: none

testing vercel deployment
  next/package-lock.json
  react/package-lock.json
  react/src/components/About.jsx
Due: product_component

testing vercel deployment
  package-lock.json
  package.json
  react/src/components/About.jsx
Due: product_component

added empty package.json at root
  package-lock.json
Due: none

testing vercel deployment
  react/src/components/About.jsx
Due: product_component

experimenting with npm workspaces
  package.json
Due: none

testing workspaces
  react/src/components/About.jsx
Due: product_component

testing workspaces
  package-lock.json
  package.json
Due: none

testing non npm repo changes
  flask/src/main.py
Due: checkout_module

testing non npm repo changes 2
  flask/src/main.py
  package.json
Due: checkout_module

testing flask changes 3
  flask/src/main.py
  package-lock.json
Due: checkout_module

flask test 4
  flask/src/main.py
Due: checkout_module

react test 1
  react/src/components/About.jsx
Due: product_component

testing custom build step
  flask/src/main.py
Due: checkout_module

this commit shouldn't deploy
  flask/src/main.py
Due: checkout_module

moved components and fixed loading spinner
  env-config/example.env
  next/package-lock.json
  next/package.json
  next/src/app/layout.jsx
  next/src/app/page.jsx
  next/src/app/products-sc/page.jsx
  next/src/app/products/page.jsx
  next/src/components/HomeContent.jsx
  next/src/components/ProductCatalog.jsx
  next/src/components/SentryQueryInitializer.jsx
  next/src/components/ThreeDotLoader.jsx
  next/src/styles/products.css
  package-lock.json
  package.json
Due: none

moved components and fixed loading spinner
  next/src/app/products-sc/page.jsx
Due: none

test 1
  next/src/app/products-sc/page.jsx
Due: none

test 2
  next/src/app/products-sc/page.jsx
Due: none

test 3
  react/src/components/About.jsx
Due: product_component

Migrate checkout flow to server actions (#617)
  next/jsconfig.json
  next/lib/data.js
  next/src/app/cart/page.jsx
  next/src/app/checkout/page.jsx
  next/src/app/layout.jsx
  next/src/app/page.jsx
  next/src/app/product/[id]/page.jsx
  next/src/app/products/page.jsx
  next/src/pages/_app.js
  next/src/pages/about2.jsx
  next/src/pages/cart2.jsx
  next/src/pages/complete2.jsx
  next/src/ui/ButtonLink.jsx
  next/src/ui/Footer.jsx
  next/src/ui/HomeContent.jsx
  next/src/ui/Nav.jsx
  next/src/ui/ScrollToTop.jsx
  next/src/ui/SentryQueryInitializer.jsx
  next/src/ui/checkout/CheckoutForm.jsx
  next/src/ui/product/ProductPage.jsx
  next/src/ui/products/ProductCard.jsx
  next/src/ui/products/ProductCatalog.jsx
Due: none

fix layout and config
  vue/package.json
  vue/src/App.vue
  vue/src/assets/empowerplant-logo.svg
  vue/src/assets/plants-background-img.jpg
  vue/src/components/HomePage.vue
  vue/src/main.js
  vue/src/router/index.js
  vue/src/views/AboutView.vue
  vue/src/views/ErrorView.vue
  vue/src/views/ProductsView.vue
  vue/src/views/SubscribeView.vue
Due: none

connect FE trace with BE Checkout
  vue/src/views/ProductsView.vue
Due: none

disable SR scrubbing on media
  vue/src/main.js
Due: none

add user feedback
  vue/src/main.js
  vue/src/views/ErrorView.vue
  vue/src/views/SubscribeView.vue
Due: none

read vite config from env
  vue/src/main.js
  vue/vite.config.js
Due: none

add config files
  vue/.gitignore
  vue/package.json
Due: none

using flask BE for requests
  vue/src/views/ProductsView.vue
Due: none

React test results junit (#612)
  .github/workflows/auto-deploy.yml
  .github/workflows/run_codecov_on_pull_request.yml
  react/package-lock.json
  react/package.json
Due: none

add flaky tests for react + flask
  flask/src/test/test_flaky.py
  react/src/tests/Flaky.test.js
Due: checkout_module

Path conditions:
  checkout_module: any of: flask/src/**, but not: flask/src/test/test_utils.py
  product_component: any of: react/src/components/**, but not: flask/src/test/test_utils.py
