Repository sentry-demos/empower: changes, and which Codecov flags are due for each by the changed paths.
All: checkout_module, product_component

codecov.yml:

# cat codecov.yml | curl --data-binary @- https://codecov.io/validate
fixes:
  - "empower/::"

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        informational: true
        target: 35%
    patch:
      frontend:
        informational: true
        target: 80%
        flags:
          - frontend
      api:
        informational: true
        target: 50%
        flags:
          - api

github_checks:
  annotations: true

comment:
  layout: "newheader, diff, flags, components, files"
  require_changes: false # false :: posts comment regardless of whether coverage changes
  require_base: false # [false :: doesn't need a base report to post]
  require_head: true # [true :: must have a head report to post]
  show_carryforward_flags: true
  # show_critical_paths: true # affects labeled critical files -- leaving out for now
  hide_comment_details: true # collapse 'detailed info' for PR comment

flag_management:
  individual_flags:
    - name: api
      paths:
        - flask/
    - name: frontend
      paths:
        - react/
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: python_component
      name: checkout_module
      paths:
        - flask/src/**
    - component_id: js_component
      name: product_component
      paths:
        - react/src/components/**

# Vlad said--
# i just checked the file. the test_utils.py is purely a test file,
# just assertions and tests, so in theory it shouldn't be counted
# towards the overall coverage of the repo or "production code".
# i'm not sure why some tools include the tests as part of the coverage report,
# but it can be mitigated by excluding them via codecov.yaml or --source setting
# in the pytest, but the issue is that the test directory is also under the
# /src/  so it looks like it is instrumenting the code for all the python files
# in that location. this is not a big deal, but in case anyone asks this is why
# it is showing up.
ignore:
  - "flask/src/test/"

[otlp-collector] template-ize config.yaml (#1303)
  otlp-collector/config.yaml.template
Due: none

[otlp-collector] v0 (#1280)
  _dns/config.yaml.template
  otlp-collector/Dockerfile
  otlp-collector/README.md
  otlp-collector/config.yaml.template
  otlp-collector/deploy_project.sh
  production.env
  staging.env
Due: none

Upgrade deprecated GCP SDK in cleanup_inactive_cloud_resources.yml (#1273)
  .github/workflows/cleanup_inactive_cloud_resources.yml
Due: none

[react] keep span attributes
  react/src/components/Cart.jsx
  react/src/components/Checkout.jsx
  react/src/tests/Checkout.test.js
  react/src/utils/measureRequestDuration.js
Due: product_component

[react] Switch from span attributes to metrics (#1305)
  react/package-lock.json
  react/package.json
  react/src/components/Cart.jsx
  react/src/components/Checkout.jsx
  react/src/tests/Checkout.test.js
  react/src/utils/measureRequestDuration.js
Due: product_component

[react] don't group different backends into the same issue (#1301)
  react/src/index.js
Due: none

[react,next,tda] rename FE /checkout -> /checkout-form
  _tda/desktop_web/test_basic_checkout.py
  _tda/desktop_web/test_cexp_checkout.py
  _tda/desktop_web/test_rageclick.py
  next/src/app/cart/page.jsx
  next/src/app/checkout-form/page.jsx
  next/src/tests/App.test.js
  next/src/tests/Cart.test.js
  next/src/tests/CheckoutForm.test.js
  next/src/ui/SentryQueryInitializer.jsx
  react/src/components/Cart.jsx
  react/src/components/CheckoutForm.jsx
  react/src/index.js
  react/src/tests/App.test.js
  react/src/tests/Cart.test.js
  react/src/tests/CheckoutForm.test.js
Due: product_component

[react] "checkout_submit" txn name + metric/attribute prefix
  react/src/components/CheckoutForm.jsx
  react/src/tests/CheckoutForm.test.js
Due: product_component

[angular] checkout -> checkout-form; Submit Checkout Form -> submit_checkout
  angular/src/app/app.routes.ts
  angular/src/app/components/cart/cart.component.html
  angular/src/app/components/checkout-form/checkout-form.component.css
  angular/src/app/components/checkout-form/checkout-form.component.html
  angular/src/app/components/checkout-form/checkout-form.component.ts
Due: none

[react, angular] update Sentry.metrics api calls with new checkout_submit prefix
  angular/src/app/components/checkout-form/checkout-form.component.ts
  react/src/components/CheckoutForm.jsx
Due: product_component

[next] fix page and component name clash for CheckoutForm
  next/src/app/checkout-form/page.jsx
Due: none

Fix UnboundLocalError in checkout function
  flask/src/main.py
Due: checkout_module

[react,next,angular,tda] Rename checkout transactions and components for clarity + update metrics prefixes (#1307)
  _tda/desktop_web/test_basic_checkout.py
  _tda/desktop_web/test_cexp_checkout.py
  _tda/desktop_web/test_rageclick.py
  angular/src/app/app.routes.ts
  angular/src/app/components/cart/cart.component.html
  angular/src/app/components/checkout-form/checkout-form.component.css
  angular/src/app/components/checkout-form/checkout-form.component.html
  angular/src/app/components/checkout-form/checkout-form.component.ts
  next/src/app/cart/page.jsx
  next/src/app/checkout-form/page.jsx
  next/src/tests/App.test.js
  next/src/tests/Cart.test.js
  next/src/tests/CheckoutForm.test.js
  next/src/ui/SentryQueryInitializer.jsx
  react/src/components/Cart.jsx
  react/src/components/CheckoutForm.jsx
  react/src/index.js
  react/src/tests/App.test.js
  react/src/tests/Cart.test.js
  react/src/tests/CheckoutForm.test.js
Due: product_component

[react] add global attributes to metrics
  react/src/components/Cart.jsx
  react/src/components/CheckoutForm.jsx
  react/src/index.js
Due: product_component

[react] add global attributes to metrics (#1314)
  react/src/components/Cart.jsx
  react/src/components/CheckoutForm.jsx
  react/src/index.js
Due: product_component

feat(laravel): enabling Sentry logs and align with Flask backend logs
  laravel/.env.example
  laravel/_.env.template
  laravel/app/Http/Controllers/Api/EmailController.php
  laravel/app/Http/Controllers/Api/ProductController.php
  laravel/routes/web.php
Due: none

feat: adding promo-code and product info routes (taken from flask)
  laravel/app/Http/Controllers/Api/ProductController.php
  laravel/routes/web.php
Due: none

Fix N+1 API call issue on /nplusone endpoint
  flask-otlp/src/main.py
  flask/src/main.py
  next/src/pages/nplusone.jsx
  react/src/components/nplusone.jsx
Due: checkout_module, product_component

Fix TypeError in checkout: handle undefined inventory
  next/lib/data.js
Due: none

fix: review comment error
  laravel/app/Http/Controllers/Api/ProductController.php
Due: none

[flutter-android] Add ANR and promo code tests, refactor checkout test
  _tda/mobile_native/android_flutter/test_anr_flutter_android.py
  _tda/mobile_native/android_flutter/test_checkout_flutter_android.py
  _tda/mobile_native/android_flutter/test_promo_flutter_android.py
Due: none

[platform] add backend-/frontend- prefixes to all Sentry projects
  production.env
Due: none

[platform] add backend-/frontend- prefixes to all Sentry projects (#1319)
  production.env
Due: none

rev: earlier fix for an intentional issue
  laravel/app/Http/Controllers/Api/ProductController.php
Due: none

chore: remove unused file
  laravel/.env.example
Due: none

fix: add building of the excimer extension required for adding profiling
  laravel/build-excimer.sh
  laravel/build.sh
  laravel/composer.json
  laravel/excimer.so
  laravel/php.ini
Due: none

fix(laravel): align products-join route with flask implementation and remove ruby backend call
  laravel/app/Http/Controllers/Api/ProductController.php
Due: none

Fix TypeError in products endpoint when in_stock_only filter is used
  flask/src/main.py
Due: checkout_module

Update README.md
  README.md
Due: none

Fix crasher module RangeError bug
  next/src/utils/errors.js
  react/src/utils/errors.js
Due: none

Fix checkout 500 error caused by quantities used before definition
  flask/src/main.py
  react/src/components/CheckoutForm.jsx
Due: checkout_module, product_component

Fix UnboundLocalError in checkout endpoint
  flask/src/main.py
Due: checkout_module

Fix NameError in checkout endpoint by defining quantities before use
  flask/src/main.py
Due: checkout_module

Fix NameError: define quantities before checking its length
  flask/src/main.py
Due: checkout_module

feat(laravel): enabling Sentry logs and align with Flask backend logs (#1316)
  laravel/.env.example
  laravel/_.env.template
  laravel/app/Http/Controllers/Api/EmailController.php
  laravel/app/Http/Controllers/Api/ProductController.php
  laravel/routes/web.php
Due: none

fix(laravel): align products-join route with flask implementation and remove ruby backend call (#1321)
  laravel/app/Http/Controllers/Api/ProductController.php
Due: none

[flutter-android] Relaunch app after ANR to trigger Sentry event send
  _tda/mobile_native/android_flutter/test_anr_flutter_android.py
Due: none

[flutter-android] Skip promo test at collection time to avoid unnecessary SauceLabs session
  _tda/mobile_native/android_flutter/test_promo_flutter_android.py
Due: none

[flutter-android] Add ANR and promo code tests, refactor checkout test (#1318)
  _tda/mobile_native/android_flutter/test_anr_flutter_android.py
  _tda/mobile_native/android_flutter/test_checkout_flutter_android.py
  _tda/mobile_native/android_flutter/test_promo_flutter_android.py
Due: none

Fix slow DB query on GET /products-join endpoint
  _postgres/data/empowerplant.sql
  aspnetcore/Program.cs
Due: none
