Repository sentry-demos/empower: changes, and which Codecov flags are due for each by the changed paths.
All: checkout_module, product_component

Fix N+1 query in get_products by batching review fetches
  flask/src/db.py
Due: checkout_module

Fix quantities referenced before assignment in checkout
  flask-otlp/src/main.py
  flask/src/main.py
Due: checkout_module

Fix inventory query column/table name mismatch and checkout variable ordering
  laravel/app/Http/Controllers/Api/ProductController.php
  laravel/app/Models/Inventory.php
  laravel/app/Models/Product.php
Due: none

Fix NameError: move quantities definition before length check
  flask-otlp/src/main.py
  flask/src/main.py
Due: checkout_module

Fix inverted error handling condition in CheckoutForm checkout
  react/src/components/CheckoutForm.jsx
Due: product_component

Fix RangeError by preventing unconditional throw
  react/src/utils/errors.js
Due: none

Fix empty cart PostgreSQL type inference error
  flask/src/db.py
Due: checkout_module

Fix TypeError in notAFunctionError by adding missing array element
  react/src/utils/errors.js
Due: none

Fix checkout quantities initialization and frontend error handling
  flask-otlp/src/main.py
  flask/src/main.py
  react/src/components/CheckoutForm.jsx
Due: checkout_module, product_component

Fix checkout 500 error: move quantities assignment before use and fix frontend conditional logic
  flask/src/main.py
  react/src/components/CheckoutForm.jsx
Due: checkout_module, product_component

Fix inverted condition in checkout error handling
  react/src/components/CheckoutForm.jsx
Due: product_component

Fix error handling logic in checkout form
  react/src/components/CheckoutForm.jsx
Due: product_component

Fix checkout 500 error from hardcoded exception and inverted error condition
  aspnetcore/Controllers/CheckoutController.cs
  react/src/components/CheckoutForm.jsx
Due: product_component

Fix checkout inventory validation to respect validate_inventory parameter
  ruby-on-rails/app/controllers/api/v1/checkout_controller.rb
Due: none

Fix hasInventory() hardcoded to false causing 500 on all checkouts
  spring-boot-otlp/src/main/java/com/sentrydemos/springboot/AppController.java
  spring-boot/src/main/java/com/sentrydemos/springboot/AppController.java
Due: none

Fix N+1 query in /products causing client timeout and broken pipe
  spring-boot/src/main/java/com/sentrydemos/springboot/DatabaseHelper.java
Due: none

Fix TypeError in /products endpoint when in_stock_only filter is used
  flask/src/db.py
  flask/src/main.py
Due: checkout_module

Fix comma operator misuse in Products.jsx endpoint array
  react/src/components/Products.jsx
Due: product_component

Fix quantities variable used before assignment in /checkout endpoint
  flask/src/main.py
Due: checkout_module

Fix slow DB query in products endpoint
  flask/src/db.py
  flask/src/main.py
Due: checkout_module

Fix hasInventory() method to properly check inventory levels
  spring-boot/src/main/java/com/sentrydemos/springboot/AppController.java
Due: none

feat(react): instrument cart, chat, and products metrics for dashboard demo
  react/package-lock.json
  react/package.json
  react/src/components/Cart.jsx
  react/src/components/ChatWidget.jsx
  react/src/components/Product.jsx
  react/src/components/ProductCard.jsx
  react/src/components/Products.jsx
  react/src/index.js
Due: product_component

Fix checkout 500 error: backend inventory check and frontend error handling
  react/src/components/CheckoutForm.jsx
  spring-boot-otlp/src/main/java/com/sentrydemos/springboot/AppController.java
  spring-boot/src/main/java/com/sentrydemos/springboot/AppController.java
Due: product_component

Fix TypeError in validate_inventory when inventory is undefined
  react/src/components/ProductCard.jsx
Due: product_component

Fix SyntaxError from eval('foo bar') in error utility
  react/src/utils/errors.js
Due: none

Fix UnboundLocalError in checkout endpoint
  flask/src/main.py
Due: checkout_module

Fix NameError: move quantities assignment before length check
  flask-otlp/src/main.py
  flask/src/main.py
Due: checkout_module

Fix checkout failing with 'cart is empty' due to undefined $quantities check
  laravel/app/Http/Controllers/Api/ProductController.php
Due: none

fix(react): guard chat.conversation_started metric against double-fire
  react/src/components/ChatWidget.jsx
Due: product_component

feat(react): add metrics instrumentation for dashboard demo (#1450)
  react/package-lock.json
  react/package.json
  react/src/components/Cart.jsx
  react/src/components/ChatWidget.jsx
  react/src/components/Product.jsx
  react/src/components/ProductCard.jsx
  react/src/components/Products.jsx
  react/src/index.js
Due: product_component

Fix inverted error handling logic in CheckoutForm checkout
  react/src/components/CheckoutForm.jsx
Due: product_component

Fix inverted error handling logic in CheckoutForm
  react/src/components/CheckoutForm.jsx
Due: product_component

Fix UnboundLocalError: move quantities assignment before length check
  flask/src/main.py
Due: checkout_module

Fix UnboundLocalError in checkout endpoint by initializing quantities before checking length
  flask-otlp/src/main.py
  flask/src/main.py
Due: checkout_module

Fix UnboundLocalError in checkout() - move quantities assignment before usage
  flask-otlp/src/main.py
  flask/src/main.py
Due: checkout_module

Fix UnboundLocalError in checkout endpoint - Fixes BACKEND-FLASK-EV
  flask-otlp/src/main.py
  flask/src/main.py
Due: checkout_module

Fix checkout always failing with 'cart is empty' error
  laravel/app/Http/Controllers/Api/ProductController.php
Due: none

[aspnetcore] wire Sentry SDK init, sample rates, and beforeSend chain
  aspnetcore/Program.cs
Due: none

[aspnetcore] demo controllers + middleware tag/email handling
  aspnetcore/AppMiddleware.cs
  aspnetcore/Controllers/ApiController.cs
  aspnetcore/Controllers/CheckoutController.cs
  aspnetcore/Controllers/HandledController.cs
  aspnetcore/Controllers/ProductInfoController.cs
  aspnetcore/Controllers/ProductsController.cs
  aspnetcore/Controllers/UnhandledController.cs
  aspnetcore/HardwareStoreContext.cs
Due: none

Path conditions:
  checkout_module: any of: flask/src/**, but not: flask/src/test/
  product_component: any of: react/src/components/**, but not: flask/src/test/
