Repository sentry-demos/empower: changes, and which Codecov flags are due for each by the changed paths.
All: checkout_module, product_component

codecov.yml:

# cat codecov.yml | curl --data-binary @- https://codecov.io/validate
fixes:
  - "empower/::"

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        informational: true
        target: 35%
    patch:
      frontend:
        informational: true
        target: 80%
        flags:
          - frontend
      api:
        informational: true
        target: 50%
        flags:
          - api

github_checks:
  annotations: true

comment:
  layout: "newheader, diff, flags, components, files"
  require_changes: false # false :: posts comment regardless of whether coverage changes
  require_base: false # [false :: doesn't need a base report to post]
  require_head: true # [true :: must have a head report to post]
  show_carryforward_flags: true
  # show_critical_paths: true # affects labeled critical files -- leaving out for now
  hide_comment_details: true # collapse 'detailed info' for PR comment

flag_management:
  individual_flags:
    - name: api
      paths:
        - flask/
    - name: frontend
      paths:
        - react/
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
        threshold: 2%

component_management:
  default_rules:
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: python_component
      name: checkout_module
      paths:
        - flask/src/**
    - component_id: js_component
      name: product_component
      paths:
        - react/src/components/**

# Vlad said--
# i just checked the file. the test_utils.py is purely a test file,
# just assertions and tests, so in theory it shouldn't be counted
# towards the overall coverage of the repo or "production code".
# i'm not sure why some tools include the tests as part of the coverage report,
# but it can be mitigated by excluding them via codecov.yaml or --source setting
# in the pytest, but the issue is that the test directory is also under the
# /src/  so it looks like it is instrumenting the code for all the python files
# in that location. this is not a big deal, but in case anyone asks this is why
# it is showing up.
ignore:
  - "flask/src/test/"

Add statsig feature flag to react - Initialize in root and checks all flags - Each flag value is configurable in statsig UI
  react/src/index.js
Due: none

Add statsig integration to flask - Update sdk
  flask/requirements.txt
  flask/src/main.py
  flask/validate_env.list
  package-lock.json
  package.json
  react/src/index.js
  react/validate_env.list
Due: checkout_module

Statsig flask (#744)
  flask/requirements.txt
  flask/src/main.py
  flask/validate_env.list
  package-lock.json
  package.json
  react/package-lock.json
  react/package.json
  react/src/index.js
  react/validate_env.list
Due: checkout_module

feat: implement specials browsing functionality with optimized database queries and UI components
  flask/src/db.py
  flask/src/main.py
  flask/src/test/test_specials.py
  react/src/components/Home.jsx
  react/src/components/Specials.jsx
  react/src/components/home.css
  react/src/index.js
Due: checkout_module, product_component

feat: implement specials browsing functionality with optimized database queries and UI components
  flask/src/main.py
  flask/src/test/test_main.py
  react/src/components/Home.jsx
  react/src/components/Specials.jsx
  react/src/components/products.css
  react/src/index.js
Due: checkout_module, product_component

feat: implement specials page with product listing and Ruby API integration
  flask/src/main.py
  flask/src/test/test_specials.py
  react/src/components/Home.jsx
  react/src/components/Specials.jsx
  react/src/components/home.css
  react/src/index.js
Due: checkout_module, product_component

feat: implement specials page with product listing and Ruby API integration
  flask/src/main.py
  react/src/components/Home.jsx
  react/src/components/Specials.jsx
  react/src/components/home.css
  react/src/index.js
Due: checkout_module, product_component

feat: add get_specials endpoint with product filtering and metrics tracking
  flask/src/main.py
  react/src/components/Home.jsx
  react/src/components/Specials.jsx
  react/src/components/home.css
  react/src/index.js
Due: checkout_module, product_component

feat: implement specials browsing functionality with product join and error handling
  flask/src/main.py
  react/src/components/Home.jsx
  react/src/components/Specials.jsx
  react/src/index.js
Due: checkout_module, product_component

feat: add browse specials button to home page with routing and UI components
  flask/src/main.py
  react/src/components/Home.jsx
  react/src/components/Specials.jsx
  react/src/components/products.css
  react/src/index.css
  react/src/index.js
Due: checkout_module, product_component

catch inventory error for cexp
  react/src/components/ProductCard.jsx
Due: product_component

feat: add specials button to home page for browsing special offers and promotions
  flask/src/main.py
  react/src/components/Home.jsx
  react/src/components/Specials.jsx
  react/src/components/home.css
  react/src/components/products.css
  react/src/index.js
Due: checkout_module, product_component

feat: add specials browsing functionality with product filtering and performance optimizations
  flask/src/main.py
  react/src/components/Home.jsx
  react/src/components/Specials.jsx
  react/src/components/home.css
  react/src/components/products.css
  react/src/index.js
Due: checkout_module, product_component

feat: implement specials browsing with product join optimization and review aggregation
  flask/src/main.py
  react/src/components/Home.jsx
  react/src/components/Specials.jsx
  react/src/components/home.css
  react/src/index.js
Due: checkout_module, product_component

get and set se tag in getProducts function
  next/lib/data.js
Due: none

undo configure scope
  next/lib/data.js
Due: none

set tag on global scope instead of currrent
  next/lib/data.js
Due: none

wrapped db opertion in span
  next/lib/data.js
Due: none

removed span instrumentaiton
  next/lib/data.js
Due: none

wip fixing flask queues
  flask/src/main.py
  flask/src/queues/email_subscribe.py
  flask/src/queues/tasks.py
Due: checkout_module

wip fixing flask queues (#751)
  flask/src/main.py
  flask/src/queues/email_subscribe.py
  flask/src/queues/tasks.py
Due: checkout_module

Pretty sure we don't need this variable...
  flask/src/main.py
Due: checkout_module

Pretty sure we don't need this variable... (#752)
  flask/src/main.py
Due: checkout_module

[critexp] Releases that line up with Crit Exp segments (24h) - WIP
  bin/release.sh
Due: none

[flask] hopefully long-term fix for suspect commmits
  bin/sentry-release.sh
  deploy.sh
Due: none

[flask] hopefully long-term fix for suspect commmits (#755)
  bin/sentry-release.sh
  deploy.sh
Due: none

feat: add browse specials button and functionality to home page with dedicated specials route and component
  flask/src/main.py
  react/src/components/Home.jsx
  react/src/components/Specials.jsx
  react/src/components/home.css
  react/src/index.js
Due: checkout_module, product_component

ref(cli): Don't use deprecated `sentry-cli` command
  bin/sentry-release.sh
Due: none

Update README.md
  README.md
Due: none

ref(cli): Don't use deprecated `sentry-cli` command (#756)
  bin/sentry-release.sh
Due: none

removed console statement
  next/lib/data.js
Due: none

trying without scope
  next/lib/data.js
  next/lib/db.js
Due: none

Update README.md (#758)
  README.md
Due: none

update laravel sdk version
  laravel/composer.json
  laravel/composer.lock
Due: none

AWS - SNS publisher and lambda code
  .gitignore
  aws/inventory_update_sns.py
  aws/lambda_demo/lambda_demo.zip
  aws/lambda_demo/lambda_function.py
  aws/requirements.txt
Due: none

[platform] fix envsubst handling of escaped \$
  bin/envsubst.sh
Due: none
